Repository openMF/web-app, pull requests merged in 2020-07, with the labels that each got.

#959 feat: view fixed-deposit account page
  src/app/clients/clients-routing.module.ts
  src/app/clients/clients-view/general-tab/general-tab.component.html
  src/app/deposits/fixed-deposits/common-resolvers/fixed-deposit-account-view.resolver.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/charges-tab/charges-tab.component.html
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/charges-tab/charges-tab.component.scss
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/charges-tab/charges-tab.component.spec.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/charges-tab/charges-tab.component.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/fixed-deposit-account-view.component-theme.scss
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/fixed-deposit-account-view.component.html
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/fixed-deposit-account-view.component.scss
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/fixed-deposit-account-view.component.spec.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/fixed-deposit-account-view.component.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/fixed-deposits-buttons.config.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/interest-rate-chart-tab/interest-rate-chart-tab.component.html
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/interest-rate-chart-tab/interest-rate-chart-tab.component.scss
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/interest-rate-chart-tab/interest-rate-chart-tab.component.spec.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/interest-rate-chart-tab/interest-rate-chart-tab.component.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/standing-instructions-tab/standing-instructions-tab.component.html
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/standing-instructions-tab/standing-instructions-tab.component.scss
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/standing-instructions-tab/standing-instructions-tab.component.spec.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/standing-instructions-tab/standing-instructions-tab.component.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/transactions-tab/transactions-tab.component.html
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/transactions-tab/transactions-tab.component.scss
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/transactions-tab/transactions-tab.component.spec.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/transactions-tab/transactions-tab.component.ts
  src/app/deposits/fixed-deposits/fixed-deposits-routing.module.ts
  src/app/deposits/fixed-deposits/fixed-deposits.module.ts
  src/app/deposits/fixed-deposits/fixed-deposits.service.spec.ts
  src/app/deposits/fixed-deposits/fixed-deposits.service.ts
  src/assets/images/fd_account_placeholder.png
  src/theme/custom/denim-yellowgreen.scss
  src/theme/custom/pictonblue-yellowgreen.scss
Labels: gsoc 2020

#960 feat: reuse savings datatables in view fixed deposit page
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/datatable-tabs/datatable-tabs.component.html
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/datatable-tabs/datatable-tabs.component.scss
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/datatable-tabs/datatable-tabs.component.spec.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/datatable-tabs/datatable-tabs.component.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/datatable-tabs/multi-row/multi-row.component.html
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/datatable-tabs/multi-row/multi-row.component.scss
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/datatable-tabs/multi-row/multi-row.component.spec.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/datatable-tabs/multi-row/multi-row.component.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/datatable-tabs/single-row/single-row.component.html
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/datatable-tabs/single-row/single-row.component.scss
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/datatable-tabs/single-row/single-row.component.spec.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/datatable-tabs/single-row/single-row.component.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/fixed-deposit-account-view.component.html
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/fixed-deposit-account-view.component.ts
  src/app/deposits/fixed-deposits/fixed-deposits-routing.module.ts
  src/app/deposits/fixed-deposits/fixed-deposits.module.ts
  src/app/savings/common-resolvers/savings-datatable.resolver.ts
Labels: gsoc 2020

#963 feat: fixed deposit account actions (approve)
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/fixed-deposit-account-view.component.html
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/fixed-deposit-account-view.component.ts
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/approve-fixed-deposits-account/approve-fixed-deposits-account.component.html
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/approve-fixed-deposits-account/approve-fixed-deposits-account.component.scss
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/approve-fixed-deposits-account/approve-fixed-deposits-account.component.spec.ts
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/approve-fixed-deposits-account/approve-fixed-deposits-account.component.ts
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/fixed-deposits-account-actions.component.html
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/fixed-deposits-account-actions.component.scss
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/fixed-deposits-account-actions.component.spec.ts
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/fixed-deposits-account-actions.component.ts
  src/app/deposits/fixed-deposits/fixed-deposits-routing.module.ts
  src/app/deposits/fixed-deposits/fixed-deposits.module.ts
  src/app/deposits/fixed-deposits/fixed-deposits.service.ts
Labels: gsoc 2020

#965 feat: fixed deposit account actions (reject)
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/fixed-deposits-account-actions.component.html
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/reject-fixed-deposits-account/reject-fixed-deposits-account.component.html
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/reject-fixed-deposits-account/reject-fixed-deposits-account.component.scss
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/reject-fixed-deposits-account/reject-fixed-deposits-account.component.spec.ts
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/reject-fixed-deposits-account/reject-fixed-deposits-account.component.ts
  src/app/deposits/fixed-deposits/fixed-deposits.module.ts
Labels: gsoc 2020

#967 feat: fixed deposit account actions (delete)
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/fixed-deposit-account-view.component.ts
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/fixed-deposits-account-actions.component.ts
  src/app/deposits/fixed-deposits/fixed-deposits.service.ts
Labels: gsoc 2020

#969 feat: fixed deposit actions (caclulate/post interest)
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/custom-dialogs/calculate-interest-dialog/calculate-interest-dialog.component.html
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/custom-dialogs/calculate-interest-dialog/calculate-interest-dialog.component.scss
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/custom-dialogs/calculate-interest-dialog/calculate-interest-dialog.component.spec.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/custom-dialogs/calculate-interest-dialog/calculate-interest-dialog.component.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/custom-dialogs/post-interest-dialog/post-interest-dialog.component.html
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/custom-dialogs/post-interest-dialog/post-interest-dialog.component.scss
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/custom-dialogs/post-interest-dialog/post-interest-dialog.component.spec.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/custom-dialogs/post-interest-dialog/post-interest-dialog.component.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/fixed-deposit-account-view.component.ts
  src/app/deposits/fixed-deposits/fixed-deposits.module.ts
Labels: gsoc 2020

#971 feat: fixed deposits account actions (enable/disable withhold tax)
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/custom-dialogs/toggle-withhold-tax-dialog/toggle-withhold-tax-dialog.component.html
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/custom-dialogs/toggle-withhold-tax-dialog/toggle-withhold-tax-dialog.component.scss
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/custom-dialogs/toggle-withhold-tax-dialog/toggle-withhold-tax-dialog.component.spec.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/custom-dialogs/toggle-withhold-tax-dialog/toggle-withhold-tax-dialog.component.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/fixed-deposit-account-view.component.ts
  src/app/deposits/fixed-deposits/fixed-deposits.module.ts
Labels: gsoc 2020

#973 feat: fixed deposit account actions (activate)
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/activate-fixed-deposits-account/activate-fixed-deposits-account.component.html
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/activate-fixed-deposits-account/activate-fixed-deposits-account.component.scss
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/activate-fixed-deposits-account/activate-fixed-deposits-account.component.spec.ts
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/activate-fixed-deposits-account/activate-fixed-deposits-account.component.ts
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/fixed-deposits-account-actions.component.html
  src/app/deposits/fixed-deposits/fixed-deposits.module.ts
Labels: gsoc 2020

#975 feat: fixed deposit account actions (undo-approval)
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/fixed-deposits-account-actions.component.html
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/undo-approval-fixed-deposits-account/undo-approval-fixed-deposits-account.component.html
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/undo-approval-fixed-deposits-account/undo-approval-fixed-deposits-account.component.scss
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/undo-approval-fixed-deposits-account/undo-approval-fixed-deposits-account.component.spec.ts
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/undo-approval-fixed-deposits-account/undo-approval-fixed-deposits-account.component.ts
  src/app/deposits/fixed-deposits/fixed-deposits.module.ts
Labels: gsoc 2020

#977 feat: fixed deposits actions (withdraw-by-client)
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/fixed-deposit-account-view.component.ts
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/fixed-deposits-account-actions.component.html
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/fixed-deposits-account-actions.component.ts
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/withdraw-by-client-fixed-deposits-account/withdraw-by-client-fixed-deposits-account.component.html
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/withdraw-by-client-fixed-deposits-account/withdraw-by-client-fixed-deposits-account.component.scss
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/withdraw-by-client-fixed-deposits-account/withdraw-by-client-fixed-deposits-account.component.spec.ts
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/withdraw-by-client-fixed-deposits-account/withdraw-by-client-fixed-deposits-account.component.ts
  src/app/deposits/fixed-deposits/fixed-deposits.module.ts
Labels: gsoc 2020

#985 feat: add recurring deposit account tab (charges)
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/charges-tab/charges-tab.component.html
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/charges-tab/charges-tab.component.scss
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/charges-tab/charges-tab.component.spec.ts
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/charges-tab/charges-tab.component.ts
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/recurring-deposits-account-view.component.html
  src/app/deposits/recurring-deposits/recurring-deposits-routing.module.ts
  src/app/deposits/recurring-deposits/recurring-deposits.module.ts
Labels: gsoc 2020

#987 feat: add recurring deposit account tab (datatables)
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/datatable-tabs/datatable-tabs.component.html
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/datatable-tabs/datatable-tabs.component.scss
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/datatable-tabs/datatable-tabs.component.spec.ts
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/datatable-tabs/datatable-tabs.component.ts
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/datatable-tabs/multi-row/multi-row.component.html
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/datatable-tabs/multi-row/multi-row.component.scss
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/datatable-tabs/multi-row/multi-row.component.spec.ts
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/datatable-tabs/multi-row/multi-row.component.ts
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/datatable-tabs/single-row/single-row.component.html
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/datatable-tabs/single-row/single-row.component.scss
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/datatable-tabs/single-row/single-row.component.spec.ts
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/datatable-tabs/single-row/single-row.component.ts
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/recurring-deposits-account-view.component.html
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/recurring-deposits-account-view.component.ts
  src/app/deposits/recurring-deposits/recurring-deposits-routing.module.ts
  src/app/deposits/recurring-deposits/recurring-deposits.module.ts
  src/app/savings/common-resolvers/savings-datatable.resolver.ts
Labels: gsoc 2020

#989 feat: view fixed deposit account transaction
  src/app/deposits/fixed-deposits/common-resolvers/fixed-deposit-account-transaction.resolver.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/custom-dialogs/undo-transaction-dialog/undo-transaction-dialog.component.html
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/custom-dialogs/undo-transaction-dialog/undo-transaction-dialog.component.scss
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/custom-dialogs/undo-transaction-dialog/undo-transaction-dialog.component.spec.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/custom-dialogs/undo-transaction-dialog/undo-transaction-dialog.component.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/transactions-tab/transactions-tab.component.html
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/transactions-tab/transactions-tab.component.scss
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/transactions/view-transaction/view-transaction.component.html
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/transactions/view-transaction/view-transaction.component.scss
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/transactions/view-transaction/view-transaction.component.spec.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/transactions/view-transaction/view-transaction.component.ts
  src/app/deposits/fixed-deposits/fixed-deposits-routing.module.ts
  src/app/deposits/fixed-deposits/fixed-deposits.module.ts
  src/app/deposits/fixed-deposits/fixed-deposits.service.ts
Labels: gsoc 2020

#991 feat: fixed deposit account charges actions
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/charges-tab/charges-tab.component.html
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/charges-tab/charges-tab.component.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/custom-dialogs/inactivate-charge-dialog/inactivate-charge-dialog.component.html
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/custom-dialogs/inactivate-charge-dialog/inactivate-charge-dialog.component.scss
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/custom-dialogs/inactivate-charge-dialog/inactivate-charge-dialog.component.spec.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/custom-dialogs/inactivate-charge-dialog/inactivate-charge-dialog.component.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/custom-dialogs/undo-transaction-dialog/undo-transaction-dialog.component.html
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/custom-dialogs/undo-transaction-dialog/undo-transaction-dialog.component.spec.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/custom-dialogs/undo-transaction-dialog/undo-transaction-dialog.component.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/custom-dialogs/waive-charge-dialog/waive-charge-dialog.component.html
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/custom-dialogs/waive-charge-dialog/waive-charge-dialog.component.scss
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/custom-dialogs/waive-charge-dialog/waive-charge-dialog.component.spec.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/custom-dialogs/waive-charge-dialog/waive-charge-dialog.component.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/fixed-deposit-account-view.component.html
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/interest-rate-chart-tab/interest-rate-chart-tab.component.html
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/transactions-tab/transactions-tab.component.html
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/transactions/view-transaction/view-transaction.component.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/view-transaction/view-transaction.component.html
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/view-transaction/view-transaction.component.scss
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/view-transaction/view-transaction.component.spec.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/view-transaction/view-transaction.component.ts
  src/app/deposits/fixed-deposits/fixed-deposits-routing.module.ts
  src/app/deposits/fixed-deposits/fixed-deposits.module.ts
Labels: gsoc 2020

#993 feat: fixed deposits account actions (add-charge)
  src/app/deposits/fixed-deposits/common-resolvers/fixed-deposit-account-actions.resolver.ts
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/activate-fixed-deposits-account/activate-fixed-deposits-account.component.ts
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/add-charge-fixed-deposits-account/add-charge-fixed-deposits-account.component.html
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/add-charge-fixed-deposits-account/add-charge-fixed-deposits-account.component.scss
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/add-charge-fixed-deposits-account/add-charge-fixed-deposits-account.component.spec.ts
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/add-charge-fixed-deposits-account/add-charge-fixed-deposits-account.component.ts
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/fixed-deposits-account-actions.component.html
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/fixed-deposits-account-actions.component.ts
  src/app/deposits/fixed-deposits/fixed-deposits-routing.module.ts
  src/app/deposits/fixed-deposits/fixed-deposits.module.ts
  src/app/deposits/fixed-deposits/fixed-deposits.service.ts
Labels: gsoc 2020

#995 feat: fixed deposit account actions (premature-close)
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/fixed-deposits-account-actions.component.html
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/premature-close-fixed-deposits-account/premature-close-fixed-deposits-account.component.html
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/premature-close-fixed-deposits-account/premature-close-fixed-deposits-account.component.scss
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/premature-close-fixed-deposits-account/premature-close-fixed-deposits-account.component.spec.ts
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/premature-close-fixed-deposits-account/premature-close-fixed-deposits-account.component.ts
  src/app/deposits/fixed-deposits/fixed-deposits.module.ts
Labels: gsoc 2020

#997 feat: fixed deposit account actions (close)
  src/app/deposits/fixed-deposits/common-resolvers/fixed-deposit-account-actions.resolver.ts
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/close-fixed-deposits-account/close-fixed-deposits-account.component.html
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/close-fixed-deposits-account/close-fixed-deposits-account.component.scss
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/close-fixed-deposits-account/close-fixed-deposits-account.component.spec.ts
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/close-fixed-deposits-account/close-fixed-deposits-account.component.ts
  src/app/deposits/fixed-deposits/fixed-deposits-account-actions/fixed-deposits-account-actions.component.html
  src/app/deposits/fixed-deposits/fixed-deposits.module.ts
  src/app/deposits/fixed-deposits/fixed-deposits.service.ts
Labels: gsoc 2020

#999 feat: add create recurring deposit account
  src/app/clients/clients-view/clients-view.component.html
  src/app/deposits/recurring-deposits/common-resolvers/recurring-deposits-account-template.resolver.ts
  src/app/deposits/recurring-deposits/create-recurring-deposits-account/create-recurring-deposits-account.component.html
  src/app/deposits/recurring-deposits/create-recurring-deposits-account/create-recurring-deposits-account.component.scss
  src/app/deposits/recurring-deposits/create-recurring-deposits-account/create-recurring-deposits-account.component.spec.ts
  src/app/deposits/recurring-deposits/create-recurring-deposits-account/create-recurring-deposits-account.component.ts
  src/app/deposits/recurring-deposits/recurring-deposits-account-stepper/recurring-deposits-account-charges-step/recurring-deposits-account-charges-step.component.html
  src/app/deposits/recurring-deposits/recurring-deposits-account-stepper/recurring-deposits-account-charges-step/recurring-deposits-account-charges-step.component.scss
  src/app/deposits/recurring-deposits/recurring-deposits-account-stepper/recurring-deposits-account-charges-step/recurring-deposits-account-charges-step.component.spec.ts
  src/app/deposits/recurring-deposits/recurring-deposits-account-stepper/recurring-deposits-account-charges-step/recurring-deposits-account-charges-step.component.ts
  src/app/deposits/recurring-deposits/recurring-deposits-account-stepper/recurring-deposits-account-currency-step/recurring-deposits-account-currency-step.component.html
  src/app/deposits/recurring-deposits/recurring-deposits-account-stepper/recurring-deposits-account-currency-step/recurring-deposits-account-currency-step.component.scss
  src/app/deposits/recurring-deposits/recurring-deposits-account-stepper/recurring-deposits-account-currency-step/recurring-deposits-account-currency-step.component.spec.ts
  src/app/deposits/recurring-deposits/recurring-deposits-account-stepper/recurring-deposits-account-currency-step/recurring-deposits-account-currency-step.component.ts
  src/app/deposits/recurring-deposits/recurring-deposits-account-stepper/recurring-deposits-account-details-step/recurring-deposits-account-details-step.component.html
  src/app/deposits/recurring-deposits/recurring-deposits-account-stepper/recurring-deposits-account-details-step/recurring-deposits-account-details-step.component.scss
  src/app/deposits/recurring-deposits/recurring-deposits-account-stepper/recurring-deposits-account-details-step/recurring-deposits-account-details-step.component.spec.ts
  src/app/deposits/recurring-deposits/recurring-deposits-account-stepper/recurring-deposits-account-details-step/recurring-deposits-account-details-step.component.ts
  src/app/deposits/recurring-deposits/recurring-deposits-account-stepper/recurring-deposits-account-interest-rate-chart-step/recurring-deposits-account-interest-rate-chart-step.component.html
  src/app/deposits/recurring-deposits/recurring-deposits-account-stepper/recurring-deposits-account-interest-rate-chart-step/recurring-deposits-account-interest-rate-chart-step.component.scss
  src/app/deposits/recurring-deposits/recurring-deposits-account-stepper/recurring-deposits-account-interest-rate-chart-step/recurring-deposits-account-interest-rate-chart-step.component.spec.ts
  src/app/deposits/recurring-deposits/recurring-deposits-account-stepper/recurring-deposits-account-interest-rate-chart-step/recurring-deposits-account-interest-rate-chart-step.component.ts
  src/app/deposits/recurring-deposits/recurring-deposits-account-stepper/recurring-deposits-account-preview-step/recurring-deposits-account-preview-step.component.html
  src/app/deposits/recurring-deposits/recurring-deposits-account-stepper/recurring-deposits-account-preview-step/recurring-deposits-account-preview-step.component.scss
  src/app/deposits/recurring-deposits/recurring-deposits-account-stepper/recurring-deposits-account-preview-step/recurring-deposits-account-preview-step.component.spec.ts
  src/app/deposits/recurring-deposits/recurring-deposits-account-stepper/recurring-deposits-account-preview-step/recurring-deposits-account-preview-step.component.ts
  src/app/deposits/recurring-deposits/recurring-deposits-account-stepper/recurring-deposits-account-settings-step/recurring-deposits-account-settings-step.component.html
  src/app/deposits/recurring-deposits/recurring-deposits-account-stepper/recurring-deposits-account-settings-step/recurring-deposits-account-settings-step.component.scss
  src/app/deposits/recurring-deposits/recurring-deposits-account-stepper/recurring-deposits-account-settings-step/recurring-deposits-account-settings-step.component.spec.ts
  src/app/deposits/recurring-deposits/recurring-deposits-account-stepper/recurring-deposits-account-settings-step/recurring-deposits-account-settings-step.component.ts
  src/app/deposits/recurring-deposits/recurring-deposits-account-stepper/recurring-deposits-account-terms-step/recurring-deposits-account-terms-step.component.html
  src/app/deposits/recurring-deposits/recurring-deposits-account-stepper/recurring-deposits-account-terms-step/recurring-deposits-account-terms-step.component.scss
  src/app/deposits/recurring-deposits/recurring-deposits-account-stepper/recurring-deposits-account-terms-step/recurring-deposits-account-terms-step.component.spec.ts
  src/app/deposits/recurring-deposits/recurring-deposits-account-stepper/recurring-deposits-account-terms-step/recurring-deposits-account-terms-step.component.ts
  src/app/deposits/recurring-deposits/recurring-deposits-routing.module.ts
  src/app/deposits/recurring-deposits/recurring-deposits.module.ts
  src/app/deposits/recurring-deposits/recurring-deposits.service.ts
Labels: gsoc 2020

#1001 feat: create fixed deposit account page
  src/app/clients/clients-view/clients-view.component.html
  src/app/deposits/fixed-deposits/common-resolvers/fixed-deposit-account-template.resolver.ts
  src/app/deposits/fixed-deposits/create-fixed-deposit-account/create-fixed-deposit-account.component.html
  src/app/deposits/fixed-deposits/create-fixed-deposit-account/create-fixed-deposit-account.component.scss
  src/app/deposits/fixed-deposits/create-fixed-deposit-account/create-fixed-deposit-account.component.spec.ts
  src/app/deposits/fixed-deposits/create-fixed-deposit-account/create-fixed-deposit-account.component.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-stepper/fixed-deposit-account-charges-step/fixed-deposit-account-charges-step.component.html
  src/app/deposits/fixed-deposits/fixed-deposit-account-stepper/fixed-deposit-account-charges-step/fixed-deposit-account-charges-step.component.scss
  src/app/deposits/fixed-deposits/fixed-deposit-account-stepper/fixed-deposit-account-charges-step/fixed-deposit-account-charges-step.component.spec.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-stepper/fixed-deposit-account-charges-step/fixed-deposit-account-charges-step.component.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-stepper/fixed-deposit-account-currency-step/fixed-deposit-account-currency-step.component.html
  src/app/deposits/fixed-deposits/fixed-deposit-account-stepper/fixed-deposit-account-currency-step/fixed-deposit-account-currency-step.component.scss
  src/app/deposits/fixed-deposits/fixed-deposit-account-stepper/fixed-deposit-account-currency-step/fixed-deposit-account-currency-step.component.spec.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-stepper/fixed-deposit-account-currency-step/fixed-deposit-account-currency-step.component.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-stepper/fixed-deposit-account-details-step/fixed-deposit-account-details-step.component.html
  src/app/deposits/fixed-deposits/fixed-deposit-account-stepper/fixed-deposit-account-details-step/fixed-deposit-account-details-step.component.scss
  src/app/deposits/fixed-deposits/fixed-deposit-account-stepper/fixed-deposit-account-details-step/fixed-deposit-account-details-step.component.spec.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-stepper/fixed-deposit-account-details-step/fixed-deposit-account-details-step.component.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-stepper/fixed-deposit-account-interest-rate-chart-step/fixed-deposit-account-interest-rate-chart-step.component.html
  src/app/deposits/fixed-deposits/fixed-deposit-account-stepper/fixed-deposit-account-interest-rate-chart-step/fixed-deposit-account-interest-rate-chart-step.component.scss
  src/app/deposits/fixed-deposits/fixed-deposit-account-stepper/fixed-deposit-account-interest-rate-chart-step/fixed-deposit-account-interest-rate-chart-step.component.spec.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-stepper/fixed-deposit-account-interest-rate-chart-step/fixed-deposit-account-interest-rate-chart-step.component.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-stepper/fixed-deposit-account-preview-step/fixed-deposit-account-preview-step.component.html
  src/app/deposits/fixed-deposits/fixed-deposit-account-stepper/fixed-deposit-account-preview-step/fixed-deposit-account-preview-step.component.scss
  src/app/deposits/fixed-deposits/fixed-deposit-account-stepper/fixed-deposit-account-preview-step/fixed-deposit-account-preview-step.component.spec.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-stepper/fixed-deposit-account-preview-step/fixed-deposit-account-preview-step.component.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-stepper/fixed-deposit-account-settings-step/fixed-deposit-account-settings-step.component.html
  src/app/deposits/fixed-deposits/fixed-deposit-account-stepper/fixed-deposit-account-settings-step/fixed-deposit-account-settings-step.component.scss
  src/app/deposits/fixed-deposits/fixed-deposit-account-stepper/fixed-deposit-account-settings-step/fixed-deposit-account-settings-step.component.spec.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-stepper/fixed-deposit-account-settings-step/fixed-deposit-account-settings-step.component.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-stepper/fixed-deposit-account-terms-step/fixed-deposit-account-terms-step.component.html
  src/app/deposits/fixed-deposits/fixed-deposit-account-stepper/fixed-deposit-account-terms-step/fixed-deposit-account-terms-step.component.scss
  src/app/deposits/fixed-deposits/fixed-deposit-account-stepper/fixed-deposit-account-terms-step/fixed-deposit-account-terms-step.component.spec.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-stepper/fixed-deposit-account-terms-step/fixed-deposit-account-terms-step.component.ts
  src/app/deposits/fixed-deposits/fixed-deposits-routing.module.ts
  src/app/deposits/fixed-deposits/fixed-deposits.module.ts
  src/app/deposits/fixed-deposits/fixed-deposits.service.ts
Labels: gsoc 2020

#1005 feat: fd interest rate chart (view-incentives)
  src/app/clients/clients-view/general-tab/general-tab.component.html
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/fixed-deposit-account-view.component.html
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/interest-rate-chart-tab/interest-rate-chart-tab.component.html
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/interest-rate-chart-tab/interest-rate-chart-tab.component.scss
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/interest-rate-chart-tab/interest-rate-chart-tab.component.ts
Labels: gsoc 2020

#1018 feat: add recurring deposit action (add charge)
  src/app/deposits/recurring-deposits/common-resolvers/recurring-deposit-account-actions.resolver.ts
  src/app/deposits/recurring-deposits/recurring-deposits-account-actions/add-charge-recurring-deposits-account/add-charge-recurring-deposits-account.component.html
  src/app/deposits/recurring-deposits/recurring-deposits-account-actions/add-charge-recurring-deposits-account/add-charge-recurring-deposits-account.component.scss
  src/app/deposits/recurring-deposits/recurring-deposits-account-actions/add-charge-recurring-deposits-account/add-charge-recurring-deposits-account.component.spec.ts
  src/app/deposits/recurring-deposits/recurring-deposits-account-actions/add-charge-recurring-deposits-account/add-charge-recurring-deposits-account.component.ts
  src/app/deposits/recurring-deposits/recurring-deposits-account-actions/recurring-deposits-account-actions.component.html
  src/app/deposits/recurring-deposits/recurring-deposits-account-actions/recurring-deposits-account-actions.component.ts
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/charges-tab/charges-tab.component.ts
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/datatable-tabs/multi-row/multi-row.component.ts
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/datatable-tabs/single-row/single-row.component.ts
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/recurring-deposits-account-view.component.ts
  src/app/deposits/recurring-deposits/recurring-deposits-routing.module.ts
  src/app/deposits/recurring-deposits/recurring-deposits.module.ts
Labels: gsoc 2020

#1027 feat: groups add and unassign role
  src/app/groups/common-resolvers/group-data-and-template.resolver.ts
  src/app/groups/groups-routing.module.ts
  src/app/groups/groups-view/add-role/add-role.component.html
  src/app/groups/groups-view/add-role/add-role.component.scss
  src/app/groups/groups-view/add-role/add-role.component.spec.ts
  src/app/groups/groups-view/add-role/add-role.component.ts
  src/app/groups/groups-view/committee-tab/committee-tab.component.html
  src/app/groups/groups-view/committee-tab/committee-tab.component.ts
  src/app/groups/groups-view/custom-dialogs/unassign-role-dialog/unassign-role-dialog.component.html
  src/app/groups/groups-view/custom-dialogs/unassign-role-dialog/unassign-role-dialog.component.scss
  src/app/groups/groups-view/custom-dialogs/unassign-role-dialog/unassign-role-dialog.component.spec.ts
  src/app/groups/groups-view/custom-dialogs/unassign-role-dialog/unassign-role-dialog.component.ts
  src/app/groups/groups.module.ts
  src/app/groups/groups.service.ts
Labels: gsoc 2020

#1029 feat: group actions (assign/unassign staff)
  src/app/groups/common-resolvers/group-actions.resolver.ts
  src/app/groups/groups-routing.module.ts
  src/app/groups/groups-view/custom-dialogs/unassign-staff-dialog/unassign-staff-dialog.component.html
  src/app/groups/groups-view/custom-dialogs/unassign-staff-dialog/unassign-staff-dialog.component.scss
  src/app/groups/groups-view/custom-dialogs/unassign-staff-dialog/unassign-staff-dialog.component.spec.ts
  src/app/groups/groups-view/custom-dialogs/unassign-staff-dialog/unassign-staff-dialog.component.ts
  src/app/groups/groups-view/group-actions/group-actions.component.html
  src/app/groups/groups-view/group-actions/group-actions.component.scss
  src/app/groups/groups-view/group-actions/group-actions.component.spec.ts
  src/app/groups/groups-view/group-actions/group-actions.component.ts
  src/app/groups/groups-view/group-actions/group-assign-staff/group-assign-staff.component.html
  src/app/groups/groups-view/group-actions/group-assign-staff/group-assign-staff.component.scss
  src/app/groups/groups-view/group-actions/group-assign-staff/group-assign-staff.component.spec.ts
  src/app/groups/groups-view/group-actions/group-assign-staff/group-assign-staff.component.ts
  src/app/groups/groups-view/groups-view.component.html
  src/app/groups/groups-view/groups-view.component.ts
  src/app/groups/groups.module.ts
Labels: gsoc 2020

#1031 feat: group actions (close)
  src/app/groups/common-resolvers/group-actions.resolver.ts
  src/app/groups/groups-view/group-actions/close-group/close-group.component.html
  src/app/groups/groups-view/group-actions/close-group/close-group.component.scss
  src/app/groups/groups-view/group-actions/close-group/close-group.component.spec.ts
  src/app/groups/groups-view/group-actions/close-group/close-group.component.ts
  src/app/groups/groups-view/group-actions/group-actions.component.html
  src/app/groups/groups-view/group-actions/group-actions.component.ts
  src/app/groups/groups-view/groups-view.component.html
  src/app/groups/groups-view/groups-view.component.ts
  src/app/groups/groups.module.ts
  src/app/groups/groups.service.ts
Labels: gsoc 2020

#1033 feat: group actions (activate)
  src/app/groups/groups-view/group-actions/activate-group/activate-group.component.html
  src/app/groups/groups-view/group-actions/activate-group/activate-group.component.scss
  src/app/groups/groups-view/group-actions/activate-group/activate-group.component.spec.ts
  src/app/groups/groups-view/group-actions/activate-group/activate-group.component.ts
  src/app/groups/groups-view/group-actions/group-actions.component.html
  src/app/groups/groups-view/group-actions/group-actions.component.ts
  src/app/groups/groups-view/groups-view.component.html
  src/app/groups/groups-view/groups-view.component.ts
  src/app/groups/groups.module.ts
Labels: gsoc 2020

#1035 feat: group actions (delete)
  src/app/groups/groups-view/groups-view.component.html
  src/app/groups/groups-view/groups-view.component.ts
  src/app/groups/groups.service.ts
Labels: gsoc 2020

#1037 feat: add edit group page
  src/app/groups/create-group/create-group.component.ts
  src/app/groups/edit-group/edit-group.component.html
  src/app/groups/edit-group/edit-group.component.scss
  src/app/groups/edit-group/edit-group.component.spec.ts
  src/app/groups/edit-group/edit-group.component.ts
  src/app/groups/groups-routing.module.ts
  src/app/groups/groups-view/groups-view.component.html
  src/app/groups/groups-view/groups-view.component.ts
  src/app/groups/groups.module.ts
  src/app/groups/groups.service.ts
Labels: gsoc 2020

#1041 feat: add recurring deposit account (charges tab action)
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/charges-tab/charges-tab.component.html
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/charges-tab/charges-tab.component.ts
Labels: gsoc 2020

#1043 feat: add recurring deposit account (transactions tab action)
  src/app/deposits/recurring-deposits/common-resolvers/recurring-deposit-account-transaction-template.resolver.ts
  src/app/deposits/recurring-deposits/common-resolvers/recurring-deposit-account-transaction.resolver.ts
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/charges-tab/charges-tab.component.ts
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/transactions-tab/edit-transaction/edit-transaction.component.html
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/transactions-tab/edit-transaction/edit-transaction.component.scss
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/transactions-tab/edit-transaction/edit-transaction.component.spec.ts
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/transactions-tab/edit-transaction/edit-transaction.component.ts
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/transactions-tab/transactions-tab.component.html
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/transactions-tab/transactions-tab.component.scss
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/transactions-tab/view-transaction/view-transaction.component.html
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/transactions-tab/view-transaction/view-transaction.component.scss
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/transactions-tab/view-transaction/view-transaction.component.spec.ts
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/transactions-tab/view-transaction/view-transaction.component.ts
  src/app/deposits/recurring-deposits/recurring-deposits-routing.module.ts
  src/app/deposits/recurring-deposits/recurring-deposits.module.ts
  src/app/deposits/recurring-deposits/recurring-deposits.service.ts
Labels: gsoc 2020

#1045 feat: group actions (attach-meeting)
  src/app/groups/common-resolvers/group-actions.resolver.ts
  src/app/groups/groups-view/group-actions/attach-group-meeting/attach-group-meeting.component.html
  src/app/groups/groups-view/group-actions/attach-group-meeting/attach-group-meeting.component.scss
  src/app/groups/groups-view/group-actions/attach-group-meeting/attach-group-meeting.component.spec.ts
  src/app/groups/groups-view/group-actions/attach-group-meeting/attach-group-meeting.component.ts
  src/app/groups/groups-view/group-actions/group-actions.component.html
  src/app/groups/groups-view/group-actions/group-actions.component.ts
  src/app/groups/groups-view/groups-view.component.html
  src/app/groups/groups-view/groups-view.component.ts
  src/app/groups/groups.module.ts
  src/app/groups/groups.service.ts
Labels: gsoc 2020

#1047 feat: group actions (attendance)
  src/app/groups/common-resolvers/group-actions.resolver.ts
  src/app/groups/groups-view/group-actions/group-actions.component.html
  src/app/groups/groups-view/group-actions/group-actions.component.ts
  src/app/groups/groups-view/group-actions/group-attendance/group-attendance.component.html
  src/app/groups/groups-view/group-actions/group-attendance/group-attendance.component.scss
  src/app/groups/groups-view/group-actions/group-attendance/group-attendance.component.spec.ts
  src/app/groups/groups-view/group-actions/group-attendance/group-attendance.component.ts
  src/app/groups/groups-view/groups-view.component.html
  src/app/groups/groups-view/groups-view.component.ts
  src/app/groups/groups.module.ts
  src/app/groups/groups.service.ts
Labels: gsoc 2020

#1049 feat: group actions (manage-members)
  src/app/clients/clients.service.ts
  src/app/groups/common-resolvers/group-actions.resolver.ts
  src/app/groups/groups-view/group-actions/group-actions.component.html
  src/app/groups/groups-view/group-actions/group-actions.component.ts
  src/app/groups/groups-view/group-actions/group-attendance/group-attendance.component.ts
  src/app/groups/groups-view/group-actions/manage-group-members/manage-group-members.component.html
  src/app/groups/groups-view/group-actions/manage-group-members/manage-group-members.component.scss
  src/app/groups/groups-view/group-actions/manage-group-members/manage-group-members.component.spec.ts
  src/app/groups/groups-view/group-actions/manage-group-members/manage-group-members.component.ts
  src/app/groups/groups-view/groups-view.component.html
  src/app/groups/groups-view/groups-view.component.ts
  src/app/groups/groups.module.ts
Labels: gsoc 2020

#1052 feat: group actions (edit-meeting)
  src/app/groups/common-resolvers/group-actions.resolver.ts
  src/app/groups/groups-view/group-actions/edit-group-meeting/edit-group-meeting.component.html
  src/app/groups/groups-view/group-actions/edit-group-meeting/edit-group-meeting.component.scss
  src/app/groups/groups-view/group-actions/edit-group-meeting/edit-group-meeting.component.spec.ts
  src/app/groups/groups-view/group-actions/edit-group-meeting/edit-group-meeting.component.ts
  src/app/groups/groups-view/group-actions/group-actions.component.html
  src/app/groups/groups-view/group-actions/group-actions.component.ts
  src/app/groups/groups-view/groups-view.component.html
  src/app/groups/groups-view/groups-view.component.ts
  src/app/groups/groups.module.ts
  src/app/groups/groups.service.ts
Labels: gsoc 2020

#1054 feat: group actions (edit-meeting-schedule)
  src/app/groups/common-resolvers/group-actions.resolver.ts
  src/app/groups/groups-view/group-actions/edit-group-meeting-schedule/edit-group-meeting-schedule.component.html
  src/app/groups/groups-view/group-actions/edit-group-meeting-schedule/edit-group-meeting-schedule.component.scss
  src/app/groups/groups-view/group-actions/edit-group-meeting-schedule/edit-group-meeting-schedule.component.spec.ts
  src/app/groups/groups-view/group-actions/edit-group-meeting-schedule/edit-group-meeting-schedule.component.ts
  src/app/groups/groups-view/group-actions/edit-group-meeting/edit-group-meeting.component.html
  src/app/groups/groups-view/group-actions/edit-group-meeting/edit-group-meeting.component.ts
  src/app/groups/groups-view/group-actions/group-actions.component.html
  src/app/groups/groups-view/group-actions/group-actions.component.ts
  src/app/groups/groups-view/groups-view.component.ts
  src/app/groups/groups.module.ts
Labels: gsoc 2020

#1056 feat: group actions (transfer-clients)
  src/app/groups/common-resolvers/group-actions.resolver.ts
  src/app/groups/groups-view/group-actions/group-actions.component.html
  src/app/groups/groups-view/group-actions/group-actions.component.ts
  src/app/groups/groups-view/group-actions/group-transfer-clients/group-transfer-clients.component.html
  src/app/groups/groups-view/group-actions/group-transfer-clients/group-transfer-clients.component.scss
  src/app/groups/groups-view/group-actions/group-transfer-clients/group-transfer-clients.component.spec.ts
  src/app/groups/groups-view/group-actions/group-transfer-clients/group-transfer-clients.component.ts
  src/app/groups/groups-view/groups-view.component.html
  src/app/groups/groups-view/groups-view.component.ts
  src/app/groups/groups.module.ts
  src/app/groups/groups.service.ts
Labels: gsoc 2020

#1061 feat: cashier transactions list page
  src/app/organization/organization-routing.module.ts
  src/app/organization/organization.module.ts
  src/app/organization/organization.service.ts
  src/app/organization/tellers/cashiers/cashiers.component.html
  src/app/organization/tellers/cashiers/cashiers.component.ts
  src/app/organization/tellers/transactions/transactions.component.html
  src/app/organization/tellers/transactions/transactions.component.scss
  src/app/organization/tellers/transactions/transactions.component.spec.ts
  src/app/organization/tellers/transactions/transactions.component.ts
  src/app/shared/icons.module.ts
Labels: gsoc 2020

#1059 feat: add loan action (guarantors)
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/custom-dialogs/recurring-deposit-confirmation-dialog/recurring-deposit-confirmation-dialog.component.ts
  src/app/loans/common-resolvers/loan-action-button.resolver.ts
  src/app/loans/custom-dialog/loans-account-add-collateral-dialog/loans-account-add-collateral-dialog.component.html
  src/app/loans/custom-dialog/loans-account-add-collateral-dialog/loans-account-add-collateral-dialog.component.scss
  src/app/loans/custom-dialog/loans-account-add-collateral-dialog/loans-account-add-collateral-dialog.component.spec.ts
  src/app/loans/custom-dialog/loans-account-add-collateral-dialog/loans-account-add-collateral-dialog.component.ts
  src/app/loans/custom-dialog/loans-account-view-guarantor-details-dialog/loans-account-view-guarantor-details-dialog.component.html
  src/app/loans/custom-dialog/loans-account-view-guarantor-details-dialog/loans-account-view-guarantor-details-dialog.component.scss
  src/app/loans/custom-dialog/loans-account-view-guarantor-details-dialog/loans-account-view-guarantor-details-dialog.component.spec.ts
  src/app/loans/custom-dialog/loans-account-view-guarantor-details-dialog/loans-account-view-guarantor-details-dialog.component.ts
  src/app/loans/custom-dialog/loans-confirmation-dialog-box/loans-confirmation-dialog-box.component.html
  src/app/loans/custom-dialog/loans-confirmation-dialog-box/loans-confirmation-dialog-box.component.scss
  src/app/loans/custom-dialog/loans-confirmation-dialog-box/loans-confirmation-dialog-box.component.spec.ts
  src/app/loans/custom-dialog/loans-confirmation-dialog-box/loans-confirmation-dialog-box.component.ts
  src/app/loans/loans-account-stepper/loans-account-charges-step/loans-account-charges-step.component.ts
  src/app/loans/loans-view/button-config.ts
  src/app/loans/loans-view/loan-account-actions/create-guarantor/create-guarantor.component.html
  src/app/loans/loans-view/loan-account-actions/create-guarantor/create-guarantor.component.scss
  src/app/loans/loans-view/loan-account-actions/create-guarantor/create-guarantor.component.spec.ts
  src/app/loans/loans-view/loan-account-actions/create-guarantor/create-guarantor.component.ts
  src/app/loans/loans-view/loan-account-actions/loan-account-actions.component.html
  src/app/loans/loans-view/loan-account-actions/loan-account-actions.component.ts
  src/app/loans/loans-view/loan-account-actions/view-guarantors/view-guarantors.component.html
  src/app/loans/loans-view/loan-account-actions/view-guarantors/view-guarantors.component.scss
  src/app/loans/loans-view/loan-account-actions/view-guarantors/view-guarantors.component.spec.ts
  src/app/loans/loans-view/loan-account-actions/view-guarantors/view-guarantors.component.ts
  src/app/loans/loans-view/loans-view.component.ts
  src/app/loans/loans.module.ts
  src/app/loans/loans.service.ts
  src/app/pipes/accounts-filter.pipe.ts
Labels: gsoc 2020

#1064 feat: add create cashier component
  src/app/organization/organization-routing.module.ts
  src/app/organization/organization.module.ts
  src/app/organization/organization.service.ts
  src/app/organization/tellers/cashiers/allocate-cash/allocate-cash.component.html
  src/app/organization/tellers/cashiers/allocate-cash/allocate-cash.component.scss
  src/app/organization/tellers/cashiers/allocate-cash/allocate-cash.component.spec.ts
  src/app/organization/tellers/cashiers/allocate-cash/allocate-cash.component.ts
  src/app/organization/tellers/cashiers/cashiers.component.html
  src/app/organization/tellers/cashiers/create-cashier/create-cashier.component.html
  src/app/organization/tellers/cashiers/create-cashier/create-cashier.component.scss
  src/app/organization/tellers/cashiers/create-cashier/create-cashier.component.spec.ts
  src/app/organization/tellers/cashiers/create-cashier/create-cashier.component.ts
  src/app/organization/tellers/cashiers/edit-cashier/edit-cashier.component.html
  src/app/organization/tellers/cashiers/edit-cashier/edit-cashier.component.scss
  src/app/organization/tellers/cashiers/edit-cashier/edit-cashier.component.spec.ts
  src/app/organization/tellers/cashiers/edit-cashier/edit-cashier.component.ts
  src/app/organization/tellers/cashiers/settle-cash/settle-cash.component.html
  src/app/organization/tellers/cashiers/settle-cash/settle-cash.component.scss
  src/app/organization/tellers/cashiers/settle-cash/settle-cash.component.spec.ts
  src/app/organization/tellers/cashiers/settle-cash/settle-cash.component.ts
  src/app/organization/tellers/cashiers/transactions/transactions.component.html
  src/app/organization/tellers/cashiers/transactions/transactions.component.scss
  src/app/organization/tellers/cashiers/transactions/transactions.component.spec.ts
  src/app/organization/tellers/cashiers/transactions/transactions.component.ts
  src/app/organization/tellers/cashiers/view-cashier/view-cashier.component.html
  src/app/organization/tellers/cashiers/view-cashier/view-cashier.component.scss
  src/app/organization/tellers/cashiers/view-cashier/view-cashier.component.spec.ts
  src/app/organization/tellers/cashiers/view-cashier/view-cashier.component.ts
  src/app/organization/tellers/common-resolvers/cashier.resolver.ts
  src/app/organization/tellers/common-resolvers/edit-cashier.resolver.ts
  src/app/organization/tellers/view-cashier/view-cashier.component.ts
Labels: gsoc 2020

#1062 feat: add loan action (disburse)
  src/app/loans/common-resolvers/loan-action-button.resolver.ts
  src/app/loans/loans-view/loan-account-actions/assign-loan-officer/assign-loan-officer.component.ts
  src/app/loans/loans-view/loan-account-actions/disburse/disburse.component.html
  src/app/loans/loans-view/loan-account-actions/disburse/disburse.component.scss
  src/app/loans/loans-view/loan-account-actions/disburse/disburse.component.spec.ts
  src/app/loans/loans-view/loan-account-actions/disburse/disburse.component.ts
  src/app/loans/loans-view/loan-account-actions/loan-account-actions.component.html
  src/app/loans/loans-view/loan-account-actions/loan-account-actions.component.ts
  src/app/loans/loans-view/loan-account-actions/undo-approval/undo-approval.component.ts
  src/app/loans/loans.module.ts
Labels: gsoc 2020

#1065 feat: add edit adhoc query component
  src/app/organization/adhoc-query/common-resolvers/adhoc-queries.resolver.ts
  src/app/organization/adhoc-query/common-resolvers/adhoc-query-and-template.resolver.ts
  src/app/organization/adhoc-query/common-resolvers/adhoc-query.resolver.ts
  src/app/organization/adhoc-query/edit-adhoc-query/edit-adhoc-query.component.html
  src/app/organization/adhoc-query/edit-adhoc-query/edit-adhoc-query.component.scss
  src/app/organization/adhoc-query/edit-adhoc-query/edit-adhoc-query.component.spec.ts
  src/app/organization/adhoc-query/edit-adhoc-query/edit-adhoc-query.component.ts
  src/app/organization/adhoc-query/view-adhoc-query/view-adhoc-query.component.html
  src/app/organization/organization-routing.module.ts
  src/app/organization/organization.module.ts
  src/app/organization/organization.service.ts
Labels: gsoc 2020

#1063 feat: add loan action (withdrawn by client)
  src/app/loans/loans-view/loan-account-actions/disburse/disburse.component.ts
  src/app/loans/loans-view/loan-account-actions/loan-account-actions.component.html
  src/app/loans/loans-view/loan-account-actions/loan-account-actions.component.ts
  src/app/loans/loans-view/loan-account-actions/withdrawn-by-client/withdrawn-by-client.component.html
  src/app/loans/loans-view/loan-account-actions/withdrawn-by-client/withdrawn-by-client.component.scss
  src/app/loans/loans-view/loan-account-actions/withdrawn-by-client/withdrawn-by-client.component.spec.ts
  src/app/loans/loans-view/loan-account-actions/withdrawn-by-client/withdrawn-by-client.component.ts
  src/app/loans/loans.module.ts
Labels: gsoc 2020

#1067 feat: client actions (assign/unassign staff)
  src/app/clients/clients-routing.module.ts
  src/app/clients/clients-view/client-actions/client-actions.component.html
  src/app/clients/clients-view/client-actions/client-actions.component.scss
  src/app/clients/clients-view/client-actions/client-actions.component.spec.ts
  src/app/clients/clients-view/client-actions/client-actions.component.ts
  src/app/clients/clients-view/client-actions/client-assign-staff/client-assign-staff.component.html
  src/app/clients/clients-view/client-actions/client-assign-staff/client-assign-staff.component.scss
  src/app/clients/clients-view/client-actions/client-assign-staff/client-assign-staff.component.spec.ts
  src/app/clients/clients-view/client-actions/client-assign-staff/client-assign-staff.component.ts
  src/app/clients/clients-view/clients-view.component.html
  src/app/clients/clients-view/clients-view.component.ts
  src/app/clients/clients-view/custom-dialogs/edit-notes-dialog/edit-notes-dialog.component.html
  src/app/clients/clients-view/custom-dialogs/edit-notes-dialog/edit-notes-dialog.component.scss
  src/app/clients/clients-view/custom-dialogs/edit-notes-dialog/edit-notes-dialog.component.spec.ts
  src/app/clients/clients-view/custom-dialogs/edit-notes-dialog/edit-notes-dialog.component.ts
  src/app/clients/clients-view/custom-dialogs/unassign-staff-dialog/unassign-staff-dialog.component.html
  src/app/clients/clients-view/custom-dialogs/unassign-staff-dialog/unassign-staff-dialog.component.scss
  src/app/clients/clients-view/custom-dialogs/unassign-staff-dialog/unassign-staff-dialog.component.spec.ts
  src/app/clients/clients-view/custom-dialogs/unassign-staff-dialog/unassign-staff-dialog.component.ts
  src/app/clients/clients-view/custom-dialogs/upload-document-dialog/upload-document-dialog.component.html
  src/app/clients/clients-view/custom-dialogs/upload-document-dialog/upload-document-dialog.component.scss
  src/app/clients/clients-view/custom-dialogs/upload-document-dialog/upload-document-dialog.component.spec.ts
  src/app/clients/clients-view/custom-dialogs/upload-document-dialog/upload-document-dialog.component.ts
  src/app/clients/clients-view/documents-tab/documents-tab.component.ts
  src/app/clients/clients-view/identities-tab/identities-tab.component.ts
  src/app/clients/clients-view/notes-tab/notes-tab.component.ts
  src/app/clients/clients.module.ts
  src/app/clients/clients.service.ts
  src/app/clients/common-resolvers/client-actions.resolver.ts
Labels: gsoc 2020

#1069 feat: client actions (close)
  src/app/clients/clients-view/client-actions/client-actions.component.html
  src/app/clients/clients-view/client-actions/client-actions.component.ts
  src/app/clients/clients-view/client-actions/close-client/close-client.component.html
  src/app/clients/clients-view/client-actions/close-client/close-client.component.scss
  src/app/clients/clients-view/client-actions/close-client/close-client.component.spec.ts
  src/app/clients/clients-view/client-actions/close-client/close-client.component.ts
  src/app/clients/clients-view/clients-view.component.html
  src/app/clients/clients-view/clients-view.component.ts
  src/app/clients/clients.module.ts
  src/app/clients/clients.service.ts
  src/app/clients/common-resolvers/client-actions.resolver.ts
Labels: gsoc 2020

#618 feat: add view all surveys page
  src/app/clients/clients-view/client-actions/client-actions.component.html
  src/app/clients/clients-view/client-actions/client-actions.component.ts
  src/app/clients/clients-view/client-actions/view-survey/view-survey.component.html
  src/app/clients/clients-view/client-actions/view-survey/view-survey.component.scss
  src/app/clients/clients-view/client-actions/view-survey/view-survey.component.spec.ts
  src/app/clients/clients-view/client-actions/view-survey/view-survey.component.ts
  src/app/clients/clients-view/clients-view.component.html
  src/app/clients/clients-view/clients-view.component.ts
  src/app/clients/clients.module.ts
  src/app/clients/clients.service.ts
  src/app/clients/common-resolvers/client-actions.resolver.ts
Labels: UI-review, p2

#1071 feat: client actions (reject)
  src/app/clients/clients-view/client-actions/client-actions.component.html
  src/app/clients/clients-view/client-actions/client-actions.component.ts
  src/app/clients/clients-view/client-actions/reject-client/reject-client.component.html
  src/app/clients/clients-view/client-actions/reject-client/reject-client.component.scss
  src/app/clients/clients-view/client-actions/reject-client/reject-client.component.spec.ts
  src/app/clients/clients-view/client-actions/reject-client/reject-client.component.ts
  src/app/clients/clients-view/clients-view.component.html
  src/app/clients/clients-view/clients-view.component.ts
  src/app/clients/clients.module.ts
  src/app/clients/common-resolvers/client-actions.resolver.ts
Labels: gsoc 2020

#1075 feat: client actions (activate)
  src/app/clients/clients-view/client-actions/activate-client/activate-client.component.html
  src/app/clients/clients-view/client-actions/activate-client/activate-client.component.scss
  src/app/clients/clients-view/client-actions/activate-client/activate-client.component.spec.ts
  src/app/clients/clients-view/client-actions/activate-client/activate-client.component.ts
  src/app/clients/clients-view/client-actions/client-actions.component.html
  src/app/clients/clients-view/clients-view.component.html
  src/app/clients/clients-view/clients-view.component.ts
  src/app/clients/clients.module.ts
Labels: gsoc 2020

#1077 feat: client actions (withdraw)
  src/app/clients/clients-view/client-actions/client-actions.component.html
  src/app/clients/clients-view/client-actions/client-actions.component.ts
  src/app/clients/clients-view/client-actions/withdraw-client/withdraw-client.component.html
  src/app/clients/clients-view/client-actions/withdraw-client/withdraw-client.component.scss
  src/app/clients/clients-view/client-actions/withdraw-client/withdraw-client.component.spec.ts
  src/app/clients/clients-view/client-actions/withdraw-client/withdraw-client.component.ts
  src/app/clients/clients-view/clients-view.component.html
  src/app/clients/clients-view/clients-view.component.ts
  src/app/clients/clients.module.ts
  src/app/clients/common-resolvers/client-actions.resolver.ts
Labels: gsoc 2020

#626 feat: add client take survey page
  src/app/clients/clients-routing.module.ts
  src/app/clients/clients-view/client-actions/view-survey/take-survey/take-survey.component.html
  src/app/clients/clients-view/client-actions/view-survey/take-survey/take-survey.component.scss
  src/app/clients/clients-view/client-actions/view-survey/take-survey/take-survey.component.spec.ts
  src/app/clients/clients-view/client-actions/view-survey/take-survey/take-survey.component.ts
  src/app/clients/clients-view/client-actions/view-survey/view-survey.component.html
  src/app/clients/clients.module.ts
  src/app/clients/clients.service.ts
  src/app/clients/common-resolvers/take-survey.resolver.ts
Labels: UI-review, p3

#1079 feat: client actions (update-savings)
  src/app/clients/clients-view/client-actions/client-actions.component.html
  src/app/clients/clients-view/client-actions/client-actions.component.ts
  src/app/clients/clients-view/client-actions/update-client-savings-account/update-client-savings-account.component.html
  src/app/clients/clients-view/client-actions/update-client-savings-account/update-client-savings-account.component.scss
  src/app/clients/clients-view/client-actions/update-client-savings-account/update-client-savings-account.component.spec.ts
  src/app/clients/clients-view/client-actions/update-client-savings-account/update-client-savings-account.component.ts
  src/app/clients/clients-view/clients-view.component.html
  src/app/clients/clients-view/clients-view.component.ts
  src/app/clients/clients.module.ts
  src/app/clients/common-resolvers/client-actions.resolver.ts
Labels: gsoc 2020

#1081 feat: client actions (transfer)
  src/app/clients/clients-view/client-actions/client-actions.component.html
  src/app/clients/clients-view/client-actions/client-actions.component.ts
  src/app/clients/clients-view/client-actions/transfer-client/transfer-client.component.html
  src/app/clients/clients-view/client-actions/transfer-client/transfer-client.component.scss
  src/app/clients/clients-view/client-actions/transfer-client/transfer-client.component.spec.ts
  src/app/clients/clients-view/client-actions/transfer-client/transfer-client.component.ts
  src/app/clients/clients-view/clients-view.component.html
  src/app/clients/clients-view/clients-view.component.ts
  src/app/clients/clients.module.ts
  src/app/clients/clients.service.ts
  src/app/clients/common-resolvers/client-actions.resolver.ts
Labels: gsoc 2020

#1083 feat: client actions (undo-transfer)
  src/app/clients/clients-view/client-actions/client-actions.component.html
  src/app/clients/clients-view/client-actions/client-actions.component.ts
  src/app/clients/clients-view/client-actions/undo-client-transfer/undo-client-transfer.component.html
  src/app/clients/clients-view/client-actions/undo-client-transfer/undo-client-transfer.component.scss
  src/app/clients/clients-view/client-actions/undo-client-transfer/undo-client-transfer.component.spec.ts
  src/app/clients/clients-view/client-actions/undo-client-transfer/undo-client-transfer.component.ts
  src/app/clients/clients-view/clients-view.component.html
  src/app/clients/clients-view/clients-view.component.ts
  src/app/clients/clients.module.ts
  src/app/clients/clients.service.ts
  src/app/clients/common-resolvers/client-actions.resolver.ts
Labels: gsoc 2020

#1089 feat: client actions (accept-transfer)
  src/app/clients/clients-view/client-actions/accept-client-transfer/accept-client-transfer.component.html
  src/app/clients/clients-view/client-actions/accept-client-transfer/accept-client-transfer.component.scss
  src/app/clients/clients-view/client-actions/accept-client-transfer/accept-client-transfer.component.spec.ts
  src/app/clients/clients-view/client-actions/accept-client-transfer/accept-client-transfer.component.ts
  src/app/clients/clients-view/client-actions/client-actions.component.html
  src/app/clients/clients.module.ts
Labels: gsoc 2020

#1093 feat: add center actions (close and delete)
  src/app/centers/centers-view/center-actions/center-actions.component.html
  src/app/centers/centers-view/center-actions/center-actions.component.ts
  src/app/centers/centers-view/center-actions/close-center/close-center.component.html
  src/app/centers/centers-view/center-actions/close-center/close-center.component.scss
  src/app/centers/centers-view/center-actions/close-center/close-center.component.spec.ts
  src/app/centers/centers-view/center-actions/close-center/close-center.component.ts
  src/app/centers/centers-view/centers-view.component.html
  src/app/centers/centers-view/centers-view.component.ts
  src/app/centers/centers.module.ts
  src/app/centers/centers.service.ts
Labels: gsoc 2020

#1099 feat: add centers action (edit-meeting)
  src/app/centers/centers-view/center-actions/center-actions.component.html
  src/app/centers/centers-view/center-actions/center-actions.component.ts
  src/app/centers/centers-view/center-actions/edit-center-meeting-schedule/edit-center-meeting-schedule.component.html
  src/app/centers/centers-view/center-actions/edit-center-meeting-schedule/edit-center-meeting-schedule.component.scss
  src/app/centers/centers-view/center-actions/edit-center-meeting-schedule/edit-center-meeting-schedule.component.spec.ts
  src/app/centers/centers-view/center-actions/edit-center-meeting-schedule/edit-center-meeting-schedule.component.ts
  src/app/centers/centers-view/center-actions/edit-center-meeting/edit-center-meeting.component.html
  src/app/centers/centers-view/center-actions/edit-center-meeting/edit-center-meeting.component.scss
  src/app/centers/centers-view/center-actions/edit-center-meeting/edit-center-meeting.component.spec.ts
  src/app/centers/centers-view/center-actions/edit-center-meeting/edit-center-meeting.component.ts
  src/app/centers/centers-view/centers-view.component.html
  src/app/centers/centers-view/centers-view.component.ts
  src/app/centers/centers.module.ts
  src/app/centers/centers.service.ts
  src/app/centers/common-resolvers/center-actions.resolver.ts
Labels: gsoc 2020

#1103 feat: client actions (undo-rejection)
  src/app/clients/clients-view/client-actions/client-actions.component.html
  src/app/clients/clients-view/client-actions/client-actions.component.ts
  src/app/clients/clients-view/client-actions/undo-client-rejection/undo-client-rejection.component.html
  src/app/clients/clients-view/client-actions/undo-client-rejection/undo-client-rejection.component.scss
  src/app/clients/clients-view/client-actions/undo-client-rejection/undo-client-rejection.component.spec.ts
  src/app/clients/clients-view/client-actions/undo-client-rejection/undo-client-rejection.component.ts
  src/app/clients/clients-view/clients-view.component.html
  src/app/clients/clients-view/clients-view.component.ts
  src/app/clients/clients.module.ts
Labels: gsoc 2020

#1105 feat: client actions (add-charge)
  src/app/clients/clients-view/client-actions/add-client-charge/add-client-charge.component.html
  src/app/clients/clients-view/client-actions/add-client-charge/add-client-charge.component.scss
  src/app/clients/clients-view/client-actions/add-client-charge/add-client-charge.component.spec.ts
  src/app/clients/clients-view/client-actions/add-client-charge/add-client-charge.component.ts
  src/app/clients/clients-view/client-actions/client-actions.component.html
  src/app/clients/clients-view/client-actions/client-actions.component.ts
  src/app/clients/clients-view/clients-view.component.html
  src/app/clients/clients-view/clients-view.component.ts
  src/app/clients/clients.module.ts
  src/app/clients/clients.service.ts
  src/app/clients/common-resolvers/client-actions.resolver.ts
Labels: gsoc 2020

#688 feat: add view client charges component
  src/app/clients/clients-routing.module.ts
  src/app/clients/clients-view/general-tab/general-tab.component.html
  src/app/clients/clients-view/general-tab/general-tab.component.scss
  src/app/clients/clients-view/general-tab/general-tab.component.ts
  src/app/clients/clients-view/view-charge/view-charge.component.html
  src/app/clients/clients-view/view-charge/view-charge.component.scss
  src/app/clients/clients-view/view-charge/view-charge.component.spec.ts
  src/app/clients/clients-view/view-charge/view-charge.component.ts
  src/app/clients/clients.module.ts
  src/app/clients/clients.service.ts
  src/app/clients/common-resolvers/client-charge-view.resolver.ts
Labels: p2

#1110 chore: update travis for configuration-wizard branch
  .travis.yml
Labels: gsoc 2020

#690 feat: add client charge payment component
  src/app/clients/clients-routing.module.ts
  src/app/clients/clients-view/client-pay-charges/client-pay-charges.component.html
  src/app/clients/clients-view/client-pay-charges/client-pay-charges.component.scss
  src/app/clients/clients-view/client-pay-charges/client-pay-charges.component.spec.ts
  src/app/clients/clients-view/client-pay-charges/client-pay-charges.component.ts
  src/app/clients/clients-view/general-tab/general-tab.component.html
  src/app/clients/clients.module.ts
  src/app/clients/clients.service.ts
  src/app/clients/common-resolvers/client-transaction-pay.resolver.ts
Labels: UI-review, p1

#1112 refactor: client view survey page
  src/app/clients/clients-routing.module.ts
  src/app/clients/clients-view/client-actions/client-actions.component.html
  src/app/clients/clients-view/client-actions/client-actions.component.ts
  src/app/clients/clients-view/client-actions/take-survey/take-survey.component.html
  src/app/clients/clients-view/client-actions/take-survey/take-survey.component.scss
  src/app/clients/clients-view/client-actions/take-survey/take-survey.component.spec.ts
  src/app/clients/clients-view/client-actions/take-survey/take-survey.component.ts
  src/app/clients/clients-view/client-actions/view-survey/view-survey.component.html
  src/app/clients/clients-view/client-actions/view-survey/view-survey.component.ts
  src/app/clients/clients.module.ts
  src/app/clients/common-resolvers/client-actions.resolver.ts
  src/app/clients/common-resolvers/take-survey.resolver.ts
Labels: gsoc 2020

#1108 feat: add popover component and configuration wizard module
  src/app/app.module.ts
  src/app/configuration-wizard/configuration-wizard.component.html
  src/app/configuration-wizard/configuration-wizard.component.scss
  src/app/configuration-wizard/configuration-wizard.component.spec.ts
  src/app/configuration-wizard/configuration-wizard.component.ts
  src/app/configuration-wizard/configuration-wizard.module.ts
  src/app/configuration-wizard/configuration-wizard.service.spec.ts
  src/app/configuration-wizard/configuration-wizard.service.ts
  src/app/configuration-wizard/continue-setup-dialog/continue-setup-dialog.component.html
  src/app/configuration-wizard/continue-setup-dialog/continue-setup-dialog.component.scss
  src/app/configuration-wizard/continue-setup-dialog/continue-setup-dialog.component.spec.ts
  src/app/configuration-wizard/continue-setup-dialog/continue-setup-dialog.component.ts
  src/app/configuration-wizard/next-step-dialog/next-step-dialog.component.html
  src/app/configuration-wizard/next-step-dialog/next-step-dialog.component.scss
  src/app/configuration-wizard/next-step-dialog/next-step-dialog.component.spec.ts
  src/app/configuration-wizard/next-step-dialog/next-step-dialog.component.ts
  src/app/configuration-wizard/popover/popover-arrow.directive.ts
  src/app/configuration-wizard/popover/popover-close.directive.ts
  src/app/configuration-wizard/popover/popover-config.ts
  src/app/configuration-wizard/popover/popover-ref.ts
  src/app/configuration-wizard/popover/popover.component.html
  src/app/configuration-wizard/popover/popover.component.scss
  src/app/configuration-wizard/popover/popover.component.spec.ts
  src/app/configuration-wizard/popover/popover.component.ts
  src/app/configuration-wizard/popover/popover.service.ts
  src/assets/styles/_width-height.scss
Labels: gsoc 2020

#1114 fix: client charges routing and module structure
  src/app/clients/clients-routing.module.ts
  src/app/clients/clients-view/charges/charges-overview/charge-overview.resolver.ts
  src/app/clients/clients-view/charges/charges-overview/charges-overview.component.html
  src/app/clients/clients-view/charges/charges-overview/charges-overview.component.scss
  src/app/clients/clients-view/charges/charges-overview/charges-overview.component.spec.ts
  src/app/clients/clients-view/charges/charges-overview/charges-overview.component.ts
  src/app/clients/clients-view/charges/client-pay-charges/client-pay-charges.component.html
  src/app/clients/clients-view/charges/client-pay-charges/client-pay-charges.component.scss
  src/app/clients/clients-view/charges/client-pay-charges/client-pay-charges.component.spec.ts
  src/app/clients/clients-view/charges/client-pay-charges/client-pay-charges.component.ts
  src/app/clients/clients-view/charges/view-charge/view-charge.component.html
  src/app/clients/clients-view/charges/view-charge/view-charge.component.scss
  src/app/clients/clients-view/charges/view-charge/view-charge.component.spec.ts
  src/app/clients/clients-view/charges/view-charge/view-charge.component.ts
  src/app/clients/clients-view/general-tab/general-tab.component.html
  src/app/clients/clients-view/general-tab/general-tab.component.ts
  src/app/clients/clients.module.ts
  src/app/clients/common-resolvers/client-charge-view.resolver.ts
Labels: gsoc 2020

#1120 feat: client signature actions
  src/app/clients/clients-view/clients-view.component.html
  src/app/clients/clients-view/clients-view.component.ts
  src/app/clients/clients-view/custom-dialogs/delete-signature-dialog/delete-signature-dialog.component.html
  src/app/clients/clients-view/custom-dialogs/delete-signature-dialog/delete-signature-dialog.component.scss
  src/app/clients/clients-view/custom-dialogs/delete-signature-dialog/delete-signature-dialog.component.spec.ts
  src/app/clients/clients-view/custom-dialogs/delete-signature-dialog/delete-signature-dialog.component.ts
  src/app/clients/clients-view/custom-dialogs/upload-signature-dialog/upload-signature-dialog.component.html
  src/app/clients/clients-view/custom-dialogs/upload-signature-dialog/upload-signature-dialog.component.scss
  src/app/clients/clients-view/custom-dialogs/upload-signature-dialog/upload-signature-dialog.component.spec.ts
  src/app/clients/clients-view/custom-dialogs/upload-signature-dialog/upload-signature-dialog.component.ts
  src/app/clients/clients-view/custom-dialogs/view-signature-dialog/view-signature-dialog.component.html
  src/app/clients/clients-view/custom-dialogs/view-signature-dialog/view-signature-dialog.component.scss
  src/app/clients/clients-view/custom-dialogs/view-signature-dialog/view-signature-dialog.component.spec.ts
  src/app/clients/clients-view/custom-dialogs/view-signature-dialog/view-signature-dialog.component.ts
  src/app/clients/clients.module.ts
  src/app/clients/clients.service.ts
Labels: gsoc 2020

#1122 feat: upload and delete client image
  src/app/clients/clients-view/clients-view.component.html
  src/app/clients/clients-view/clients-view.component.ts
  src/app/clients/clients-view/custom-dialogs/upload-image-dialog/upload-image-dialog.component.html
  src/app/clients/clients-view/custom-dialogs/upload-image-dialog/upload-image-dialog.component.scss
  src/app/clients/clients-view/custom-dialogs/upload-image-dialog/upload-image-dialog.component.spec.ts
  src/app/clients/clients-view/custom-dialogs/upload-image-dialog/upload-image-dialog.component.ts
  src/app/clients/clients.module.ts
  src/app/clients/clients.service.ts
Labels: gsoc 2020

#1133 feat: add system tour
  src/app/system/codes/codes.component.html
  src/app/system/codes/codes.component.ts
  src/app/system/codes/create-code/create-code.component.html
  src/app/system/codes/create-code/create-code.component.ts
  src/app/system/configure-maker-checker-tasks/configure-maker-checker-tasks.component.html
  src/app/system/configure-maker-checker-tasks/configure-maker-checker-tasks.component.ts
  src/app/system/global-configurations/global-configurations.component.html
  src/app/system/global-configurations/global-configurations.component.ts
  src/app/system/manage-data-tables/create-data-table/create-data-table.component.html
  src/app/system/manage-data-tables/create-data-table/create-data-table.component.ts
  src/app/system/manage-data-tables/manage-data-tables.component.html
  src/app/system/manage-data-tables/manage-data-tables.component.ts
  src/app/system/manage-reports/manage-reports.component.html
  src/app/system/manage-reports/manage-reports.component.ts
  src/app/system/manage-scheduler-jobs/manage-scheduler-jobs.component.html
  src/app/system/manage-scheduler-jobs/manage-scheduler-jobs.component.ts
  src/app/system/roles-and-permissions/roles-and-permissions.component.html
  src/app/system/roles-and-permissions/roles-and-permissions.component.ts
  src/app/system/system.component.html
  src/app/system/system.component.ts
  src/app/users/create-user/create-user.component.html
  src/app/users/create-user/create-user.component.ts
  src/app/users/users.component.html
  src/app/users/users.component.ts
Labels: gsoc 2020

#1135 feat: add accounting tour.
  src/app/accounting/accounting.component.html
  src/app/accounting/accounting.component.ts
  src/app/accounting/chart-of-accounts/chart-of-accounts.component.html
  src/app/accounting/chart-of-accounts/chart-of-accounts.component.ts
  src/app/accounting/chart-of-accounts/create-gl-account/create-gl-account.component.html
  src/app/accounting/chart-of-accounts/create-gl-account/create-gl-account.component.ts
  src/app/accounting/closing-entries/closing-entries.component.html
  src/app/accounting/closing-entries/closing-entries.component.ts
  src/app/accounting/create-journal-entry/create-journal-entry.component.html
  src/app/accounting/create-journal-entry/create-journal-entry.component.ts
  src/app/accounting/financial-activity-mappings/financial-activity-mappings.component.html
  src/app/accounting/financial-activity-mappings/financial-activity-mappings.component.ts
  src/app/accounting/migrate-opening-balances/migrate-opening-balances.component.html
  src/app/accounting/migrate-opening-balances/migrate-opening-balances.component.ts
Labels: gsoc 2020

#1139 feat: add edit standing instructions details
  src/app/account-transfers/account-transfers-routing.module.ts
  src/app/account-transfers/account-transfers.module.ts
  src/app/account-transfers/account-transfers.service.ts
  src/app/account-transfers/common-resolvers/standing-instructions-data-and-template.resolver.ts
  src/app/account-transfers/edit-standing-instructions/edit-standing-instructions.component.html
  src/app/account-transfers/edit-standing-instructions/edit-standing-instructions.component.scss
  src/app/account-transfers/edit-standing-instructions/edit-standing-instructions.component.spec.ts
  src/app/account-transfers/edit-standing-instructions/edit-standing-instructions.component.ts
  src/app/account-transfers/view-standing-instructions/view-standing-instructions.component.html
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/standing-instructions-tab/standing-instructions-tab.component.html
  src/app/loans/edit-loans-account/edit-loans-account.component.html
Labels: gsoc 2020

#1141 feat: client actions (screen-reports)
  src/app/clients/clients-view/client-actions/client-actions.component.html
  src/app/clients/clients-view/client-actions/client-actions.component.ts
  src/app/clients/clients-view/client-actions/client-screen-reports/client-screen-reports.component.html
  src/app/clients/clients-view/client-actions/client-screen-reports/client-screen-reports.component.scss
  src/app/clients/clients-view/client-actions/client-screen-reports/client-screen-reports.component.spec.ts
  src/app/clients/clients-view/client-actions/client-screen-reports/client-screen-reports.component.ts
  src/app/clients/clients-view/clients-view.component.html
  src/app/clients/clients-view/clients-view.component.ts
  src/app/clients/clients.module.ts
  src/app/clients/clients.service.ts
  src/app/clients/common-resolvers/client-actions.resolver.ts
Labels: gsoc 2020

#1143 feat: add loan actions (loan-screen-reports)
  src/app/loans/common-resolvers/loan-action-button.resolver.ts
  src/app/loans/loans-view/loan-account-actions/loan-account-actions.component.html
  src/app/loans/loans-view/loan-account-actions/loan-account-actions.component.ts
  src/app/loans/loans-view/loan-account-actions/loan-screen-reports/loan-screen-reports.component.html
  src/app/loans/loans-view/loan-account-actions/loan-screen-reports/loan-screen-reports.component.scss
  src/app/loans/loans-view/loan-account-actions/loan-screen-reports/loan-screen-reports.component.spec.ts
  src/app/loans/loans-view/loan-account-actions/loan-screen-reports/loan-screen-reports.component.ts
  src/app/loans/loans.module.ts
  src/app/loans/loans.service.ts
Labels: gsoc 2020

#1147 feat: add edit client page
  src/app/clients/clients-routing.module.ts
  src/app/clients/clients-view/clients-view.component.html
  src/app/clients/clients.module.ts
  src/app/clients/clients.service.ts
  src/app/clients/common-resolvers/client-and-template.resolver.ts
  src/app/clients/edit-client/edit-client.component.html
  src/app/clients/edit-client/edit-client.component.scss
  src/app/clients/edit-client/edit-client.component.spec.ts
  src/app/clients/edit-client/edit-client.component.ts
Labels: gsoc 2020

#1151 feat: add make account transfer (transfer-funds)
  src/app/account-transfers/account-transfers-routing.module.ts
  src/app/account-transfers/account-transfers.module.ts
  src/app/account-transfers/account-transfers.service.ts
  src/app/account-transfers/common-resolvers/make-account-transfer-template.resolver.ts
  src/app/account-transfers/make-account-transers/make-account-transers.component.html
  src/app/account-transfers/make-account-transers/make-account-transers.component.scss
  src/app/account-transfers/make-account-transers/make-account-transers.component.spec.ts
  src/app/account-transfers/make-account-transers/make-account-transers.component.ts
  src/app/clients/clients-view/general-tab/general-tab.component.html
  src/app/clients/clients-view/general-tab/general-tab.component.ts
  src/app/loans/loans-routing.module.ts
  src/app/loans/loans-view/loan-account-actions/create-guarantor/create-guarantor.component.ts
  src/app/loans/loans-view/loans-view.component.ts
  src/app/products/recurring-deposit-products/view-recurring-deposit-product/view-recurring-deposit-product.component.scss
  src/app/savings/savings-account-view/savings-account-view.component.ts
  src/app/savings/savings-routing.module.ts
Labels: gsoc 2020

#1152 feat: add list view standing instructions
  src/app/account-transfers/account-transfers-routing.module.ts
  src/app/account-transfers/account-transfers.module.ts
  src/app/account-transfers/account-transfers.service.ts
  src/app/account-transfers/list-standing-instructions/list-standing-instructions.component.html
  src/app/account-transfers/list-standing-instructions/list-standing-instructions.component.scss
  src/app/account-transfers/list-standing-instructions/list-standing-instructions.component.spec.ts
  src/app/account-transfers/list-standing-instructions/list-standing-instructions.component.ts
  src/app/clients/clients-routing.module.ts
  src/app/clients/clients-view/clients-view.component.html
  src/app/clients/clients-view/clients-view.component.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/standing-instructions-tab/standing-instructions-tab.component.html
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/standing-instructions-tab/standing-instructions-tab.component.ts
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/standing-instructions-tab/standing-instructions-tab.component.html
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/standing-instructions-tab/standing-instructions-tab.component.ts
  src/app/loans/loans-view/standing-instructions-tab/standing-instructions-tab.component.html
  src/app/loans/loans-view/standing-instructions-tab/standing-instructions-tab.component.ts
  src/app/savings/savings-account-view/standing-instructions-tab/standing-instructions-tab.component.html
  src/app/savings/savings-account-view/standing-instructions-tab/standing-instructions-tab.component.ts
Labels: gsoc 2020

#1153 feat: add create client page
  src/app/clients/client-stepper/client-address-step/client-address-step.component.html
  src/app/clients/client-stepper/client-address-step/client-address-step.component.scss
  src/app/clients/client-stepper/client-address-step/client-address-step.component.spec.ts
  src/app/clients/client-stepper/client-address-step/client-address-step.component.ts
  src/app/clients/client-stepper/client-family-members-step/client-family-member-dialog/client-family-member-dialog.component.html
  src/app/clients/client-stepper/client-family-members-step/client-family-member-dialog/client-family-member-dialog.component.scss
  src/app/clients/client-stepper/client-family-members-step/client-family-member-dialog/client-family-member-dialog.component.spec.ts
  src/app/clients/client-stepper/client-family-members-step/client-family-member-dialog/client-family-member-dialog.component.ts
  src/app/clients/client-stepper/client-family-members-step/client-family-members-step.component.html
  src/app/clients/client-stepper/client-family-members-step/client-family-members-step.component.scss
  src/app/clients/client-stepper/client-family-members-step/client-family-members-step.component.spec.ts
  src/app/clients/client-stepper/client-family-members-step/client-family-members-step.component.ts
  src/app/clients/client-stepper/client-general-step/client-general-step.component.html
  src/app/clients/client-stepper/client-general-step/client-general-step.component.scss
  src/app/clients/client-stepper/client-general-step/client-general-step.component.spec.ts
  src/app/clients/client-stepper/client-general-step/client-general-step.component.ts
  src/app/clients/client-stepper/client-preview-step/client-preview-step.component.html
  src/app/clients/client-stepper/client-preview-step/client-preview-step.component.scss
  src/app/clients/client-stepper/client-preview-step/client-preview-step.component.spec.ts
  src/app/clients/client-stepper/client-preview-step/client-preview-step.component.ts
  src/app/clients/clients-routing.module.ts
  src/app/clients/clients.component.html
  src/app/clients/clients.module.ts
  src/app/clients/clients.service.ts
  src/app/clients/create-client/create-client.component.html
  src/app/clients/create-client/create-client.component.scss
  src/app/clients/create-client/create-client.component.spec.ts
  src/app/clients/create-client/create-client.component.ts
Labels: gsoc 2020

#1155 fix: clients header buttons
  src/app/clients/clients-view/clients-view.component.html
  src/app/clients/clients-view/clients-view.component.scss
Labels: gsoc 2020

#1130 feat: add image capture dialog
  src/app/clients/clients-view/clients-view.component.html
  src/app/clients/clients-view/clients-view.component.ts
  src/app/clients/clients-view/custom-dialogs/capture-image-dialog/capture-image-dialog.component.html
  src/app/clients/clients-view/custom-dialogs/capture-image-dialog/capture-image-dialog.component.scss
  src/app/clients/clients-view/custom-dialogs/capture-image-dialog/capture-image-dialog.component.spec.ts
  src/app/clients/clients-view/custom-dialogs/capture-image-dialog/capture-image-dialog.component.ts
  src/app/clients/clients.module.ts
  src/app/clients/clients.service.ts
Labels: gsoc 2020

#1157 feat: add view transactions history
  src/app/account-transfers/account-transfers-routing.module.ts
  src/app/account-transfers/account-transfers.module.ts
  src/app/account-transfers/account-transfers.service.ts
  src/app/account-transfers/common-resolvers/list-transactions.resolver.ts
  src/app/account-transfers/edit-standing-instructions/edit-standing-instructions.component.ts
  src/app/account-transfers/list-standing-instructions/list-standing-instructions.component.html
  src/app/account-transfers/list-standing-instructions/list-standing-instructions.component.scss
  src/app/account-transfers/list-standing-instructions/list-standing-instructions.component.ts
  src/app/account-transfers/list-transactions/list-transactions.component.html
  src/app/account-transfers/list-transactions/list-transactions.component.scss
  src/app/account-transfers/list-transactions/list-transactions.component.spec.ts
  src/app/account-transfers/list-transactions/list-transactions.component.ts
  src/app/account-transfers/view-standing-instructions/view-standing-instructions.component.html
  src/app/loans/loans-view/loan-account-actions/loan-account-actions.component.html
Labels: gsoc 2020

#1158 fix: show summary details in recurring deposits account
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/recurring-deposits-account-view.component.html
Labels: gsoc 2020

#1160 feat: add close dialog and close button
  src/app/accounting/accounting.component.html
  src/app/accounting/chart-of-accounts/chart-of-accounts.component.html
  src/app/accounting/chart-of-accounts/create-gl-account/create-gl-account.component.html
  src/app/accounting/closing-entries/closing-entries.component.html
  src/app/accounting/create-journal-entry/create-journal-entry.component.html
  src/app/accounting/financial-activity-mappings/financial-activity-mappings.component.html
  src/app/accounting/migrate-opening-balances/migrate-opening-balances.component.html
  src/app/configuration-wizard/completion-dialog/completion-dialog.component.html
  src/app/configuration-wizard/completion-dialog/completion-dialog.component.scss
  src/app/configuration-wizard/completion-dialog/completion-dialog.component.spec.ts
  src/app/configuration-wizard/completion-dialog/completion-dialog.component.ts
  src/app/configuration-wizard/configuration-wizard.component.ts
  src/app/configuration-wizard/configuration-wizard.module.ts
  src/app/configuration-wizard/configuration-wizard.service.ts
  src/app/configuration-wizard/continue-setup-dialog/continue-setup-dialog.component.html
  src/app/core/shell/breadcrumb/breadcrumb.component.html
  src/app/core/shell/sidenav/sidenav.component.html
  src/app/core/shell/toolbar/toolbar.component.html
  src/app/home/home.component.html
  src/app/organization/currencies/currencies.component.html
  src/app/organization/currencies/manage-currencies/manage-currencies.component.html
  src/app/organization/employees/create-employee/create-employee.component.html
  src/app/organization/employees/employees.component.html
  src/app/organization/holidays/holidays.component.html
  src/app/organization/manage-funds/manage-funds.component.html
  src/app/organization/offices/create-office/create-office.component.html
  src/app/organization/offices/offices.component.html
  src/app/organization/organization.component.html
  src/app/organization/working-days/working-days.component.html
  src/app/products/charges/charges.component.html
  src/app/products/fixed-deposit-products/fixed-deposit-products.component.html
  src/app/products/loan-products/loan-products.component.html
  src/app/products/products.component.html
  src/app/products/recurring-deposit-products/recurring-deposit-products.component.html
  src/app/products/saving-products/saving-products.component.html
  src/app/products/share-products/share-products.component.html
  src/app/system/codes/codes.component.html
  src/app/system/codes/create-code/create-code.component.html
  src/app/system/configure-maker-checker-tasks/configure-maker-checker-tasks.component.html
  src/app/system/global-configurations/global-configurations.component.html
  src/app/system/manage-data-tables/create-data-table/create-data-table.component.html
  src/app/system/manage-data-tables/manage-data-tables.component.html
  src/app/system/manage-reports/manage-reports.component.html
  src/app/system/manage-reports/manage-reports.component.ts
  src/app/system/manage-scheduler-jobs/manage-scheduler-jobs.component.html
  src/app/system/roles-and-permissions/roles-and-permissions.component.html
  src/app/system/system.component.html
  src/app/users/create-user/create-user.component.html
  src/app/users/users.component.html
Labels: gsoc 2020

#637 feat: add view bulk imports page
  src/app/bulk-import/bulk-import-routing.module.ts
  src/app/bulk-import/bulk-import.module.ts
  src/app/centers/centers.component.html
  src/app/clients/clients.component.html
  src/app/groups/groups.component.html
  src/app/organization/bulk-import/bulk-import.component.html
  src/app/organization/bulk-import/bulk-import.component.scss
  src/app/organization/bulk-import/bulk-import.component.spec.ts
  src/app/organization/bulk-import/bulk-import.component.ts
  src/app/organization/bulk-import/bulk-import.resolver.ts
  src/app/organization/bulk-import/view-bulk-import/bulk-imports.ts
  src/app/organization/bulk-import/view-bulk-import/view-bulk-import.component.html
  src/app/organization/bulk-import/view-bulk-import/view-bulk-import.component.scss
  src/app/organization/bulk-import/view-bulk-import/view-bulk-import.component.spec.ts
  src/app/organization/bulk-import/view-bulk-import/view-bulk-import.component.ts
  src/app/organization/organization-routing.module.ts
  src/app/organization/organization.module.ts
  src/app/organization/organization.service.ts
Labels: gsoc 2020

#851 feat: add create and edit sms-campaign pages
  src/app/organization/organization-routing.module.ts
  src/app/organization/organization.module.ts
  src/app/organization/organization.service.ts
  src/app/organization/sms-campaigns/common-resolvers/sms-campaign-template.resolver.ts
  src/app/organization/sms-campaigns/create-campaign/create-campaign.component.html
  src/app/organization/sms-campaigns/create-campaign/create-campaign.component.scss
  src/app/organization/sms-campaigns/create-campaign/create-campaign.component.spec.ts
  src/app/organization/sms-campaigns/create-campaign/create-campaign.component.ts
  src/app/organization/sms-campaigns/edit-campaign/edit-campaign.component.html
  src/app/organization/sms-campaigns/edit-campaign/edit-campaign.component.scss
  src/app/organization/sms-campaigns/edit-campaign/edit-campaign.component.spec.ts
  src/app/organization/sms-campaigns/edit-campaign/edit-campaign.component.ts
  src/app/organization/sms-campaigns/sms-campaign-stepper/campaign-message-step/campaign-message-step.component.html
  src/app/organization/sms-campaigns/sms-campaign-stepper/campaign-message-step/campaign-message-step.component.scss
  src/app/organization/sms-campaigns/sms-campaign-stepper/campaign-message-step/campaign-message-step.component.spec.ts
  src/app/organization/sms-campaigns/sms-campaign-stepper/campaign-message-step/campaign-message-step.component.ts
  src/app/organization/sms-campaigns/sms-campaign-stepper/campaign-preview-step/campaign-preview-step.component.html
  src/app/organization/sms-campaigns/sms-campaign-stepper/campaign-preview-step/campaign-preview-step.component.scss
  src/app/organization/sms-campaigns/sms-campaign-stepper/campaign-preview-step/campaign-preview-step.component.spec.ts
  src/app/organization/sms-campaigns/sms-campaign-stepper/campaign-preview-step/campaign-preview-step.component.ts
  src/app/organization/sms-campaigns/sms-campaign-stepper/edit-sms-campaign-step/edit-business-rule-parameters/edit-business-rule-parameters.component.html
  src/app/organization/sms-campaigns/sms-campaign-stepper/edit-sms-campaign-step/edit-business-rule-parameters/edit-business-rule-parameters.component.scss
  src/app/organization/sms-campaigns/sms-campaign-stepper/edit-sms-campaign-step/edit-business-rule-parameters/edit-business-rule-parameters.component.spec.ts
  src/app/organization/sms-campaigns/sms-campaign-stepper/edit-sms-campaign-step/edit-business-rule-parameters/edit-business-rule-parameters.component.ts
  src/app/organization/sms-campaigns/sms-campaign-stepper/edit-sms-campaign-step/edit-sms-campaign-step.component.html
  src/app/organization/sms-campaigns/sms-campaign-stepper/edit-sms-campaign-step/edit-sms-campaign-step.component.scss
  src/app/organization/sms-campaigns/sms-campaign-stepper/edit-sms-campaign-step/edit-sms-campaign-step.component.spec.ts
  src/app/organization/sms-campaigns/sms-campaign-stepper/edit-sms-campaign-step/edit-sms-campaign-step.component.ts
  src/app/organization/sms-campaigns/sms-campaign-stepper/sms-campaign-step/business-rule-parameters/business-rule-parameters.component.html
  src/app/organization/sms-campaigns/sms-campaign-stepper/sms-campaign-step/business-rule-parameters/business-rule-parameters.component.scss
  src/app/organization/sms-campaigns/sms-campaign-stepper/sms-campaign-step/business-rule-parameters/business-rule-parameters.component.spec.ts
  src/app/organization/sms-campaigns/sms-campaign-stepper/sms-campaign-step/business-rule-parameters/business-rule-parameters.component.ts
  src/app/organization/sms-campaigns/sms-campaign-stepper/sms-campaign-step/sms-campaign-step.component.html
  src/app/organization/sms-campaigns/sms-campaign-stepper/sms-campaign-step/sms-campaign-step.component.scss
  src/app/organization/sms-campaigns/sms-campaign-stepper/sms-campaign-step/sms-campaign-step.component.spec.ts
  src/app/organization/sms-campaigns/sms-campaign-stepper/sms-campaign-step/sms-campaign-step.component.ts
  src/app/organization/sms-campaigns/sms-campaigns.component.html
  src/app/organization/sms-campaigns/view-campaign/view-campaign.component.html
  src/app/organization/sms-campaigns/view-campaign/view-campaign.component.scss
Labels: gsoc 2020

#934 feat: add create recurring deposit product component
  src/app/products/products-routing.module.ts
  src/app/products/products.module.ts
  src/app/products/products.service.ts
  src/app/products/recurring-deposit-products/create-recurring-deposit-product/create-recurring-deposit-product.component.html
  src/app/products/recurring-deposit-products/create-recurring-deposit-product/create-recurring-deposit-product.component.scss
  src/app/products/recurring-deposit-products/create-recurring-deposit-product/create-recurring-deposit-product.component.spec.ts
  src/app/products/recurring-deposit-products/create-recurring-deposit-product/create-recurring-deposit-product.component.ts
  src/app/products/recurring-deposit-products/recurring-deposit-product-stepper/recurring-deposit-product-accounting-step/recurring-deposit-product-accounting-step.component.html
  src/app/products/recurring-deposit-products/recurring-deposit-product-stepper/recurring-deposit-product-accounting-step/recurring-deposit-product-accounting-step.component.scss
  src/app/products/recurring-deposit-products/recurring-deposit-product-stepper/recurring-deposit-product-accounting-step/recurring-deposit-product-accounting-step.component.spec.ts
  src/app/products/recurring-deposit-products/recurring-deposit-product-stepper/recurring-deposit-product-accounting-step/recurring-deposit-product-accounting-step.component.ts
  src/app/products/recurring-deposit-products/recurring-deposit-product-stepper/recurring-deposit-product-charges-step/recurring-deposit-product-charges-step.component.html
  src/app/products/recurring-deposit-products/recurring-deposit-product-stepper/recurring-deposit-product-charges-step/recurring-deposit-product-charges-step.component.scss
  src/app/products/recurring-deposit-products/recurring-deposit-product-stepper/recurring-deposit-product-charges-step/recurring-deposit-product-charges-step.component.spec.ts
  src/app/products/recurring-deposit-products/recurring-deposit-product-stepper/recurring-deposit-product-charges-step/recurring-deposit-product-charges-step.component.ts
  src/app/products/recurring-deposit-products/recurring-deposit-product-stepper/recurring-deposit-product-currency-step/recurring-deposit-product-currency-step.component.html
  src/app/products/recurring-deposit-products/recurring-deposit-product-stepper/recurring-deposit-product-currency-step/recurring-deposit-product-currency-step.component.scss
  src/app/products/recurring-deposit-products/recurring-deposit-product-stepper/recurring-deposit-product-currency-step/recurring-deposit-product-currency-step.component.spec.ts
  src/app/products/recurring-deposit-products/recurring-deposit-product-stepper/recurring-deposit-product-currency-step/recurring-deposit-product-currency-step.component.ts
  src/app/products/recurring-deposit-products/recurring-deposit-product-stepper/recurring-deposit-product-details-step/recurring-deposit-product-details-step.component.html
  src/app/products/recurring-deposit-products/recurring-deposit-product-stepper/recurring-deposit-product-details-step/recurring-deposit-product-details-step.component.scss
  src/app/products/recurring-deposit-products/recurring-deposit-product-stepper/recurring-deposit-product-details-step/recurring-deposit-product-details-step.component.spec.ts
  src/app/products/recurring-deposit-products/recurring-deposit-product-stepper/recurring-deposit-product-details-step/recurring-deposit-product-details-step.component.ts
  src/app/products/recurring-deposit-products/recurring-deposit-product-stepper/recurring-deposit-product-interest-rate-chart-step/recurring-deposit-product-interest-rate-chart-step.component.html
  src/app/products/recurring-deposit-products/recurring-deposit-product-stepper/recurring-deposit-product-interest-rate-chart-step/recurring-deposit-product-interest-rate-chart-step.component.scss
  src/app/products/recurring-deposit-products/recurring-deposit-product-stepper/recurring-deposit-product-interest-rate-chart-step/recurring-deposit-product-interest-rate-chart-step.component.spec.ts
  src/app/products/recurring-deposit-products/recurring-deposit-product-stepper/recurring-deposit-product-interest-rate-chart-step/recurring-deposit-product-interest-rate-chart-step.component.ts
  src/app/products/recurring-deposit-products/recurring-deposit-product-stepper/recurring-deposit-product-preview-step/recurring-deposit-product-preview-step.component.html
  src/app/products/recurring-deposit-products/recurring-deposit-product-stepper/recurring-deposit-product-preview-step/recurring-deposit-product-preview-step.component.scss
  src/app/products/recurring-deposit-products/recurring-deposit-product-stepper/recurring-deposit-product-preview-step/recurring-deposit-product-preview-step.component.spec.ts
  src/app/products/recurring-deposit-products/recurring-deposit-product-stepper/recurring-deposit-product-preview-step/recurring-deposit-product-preview-step.component.ts
  src/app/products/recurring-deposit-products/recurring-deposit-product-stepper/recurring-deposit-product-settings-step/recurring-deposit-product-settings-step.component.html
  src/app/products/recurring-deposit-products/recurring-deposit-product-stepper/recurring-deposit-product-settings-step/recurring-deposit-product-settings-step.component.scss
  src/app/products/recurring-deposit-products/recurring-deposit-product-stepper/recurring-deposit-product-settings-step/recurring-deposit-product-settings-step.component.spec.ts
  src/app/products/recurring-deposit-products/recurring-deposit-product-stepper/recurring-deposit-product-settings-step/recurring-deposit-product-settings-step.component.ts
  src/app/products/recurring-deposit-products/recurring-deposit-product-stepper/recurring-deposit-product-terms-step/recurring-deposit-product-terms-step.component.html
  src/app/products/recurring-deposit-products/recurring-deposit-product-stepper/recurring-deposit-product-terms-step/recurring-deposit-product-terms-step.component.scss
  src/app/products/recurring-deposit-products/recurring-deposit-product-stepper/recurring-deposit-product-terms-step/recurring-deposit-product-terms-step.component.spec.ts
  src/app/products/recurring-deposit-products/recurring-deposit-product-stepper/recurring-deposit-product-terms-step/recurring-deposit-product-terms-step.component.ts
  src/app/products/recurring-deposit-products/recurring-deposit-products-template.resolver.ts
  src/app/products/recurring-deposit-products/recurring-deposit-products.component.html
Labels: gsoc 2020

#629 feat: add XBRL report page
  src/app/core/shell/toolbar/toolbar.component.html
  src/app/products/recurring-deposit-products/create-recurring-deposit-product/create-recurring-deposit-product.component.ts
  src/app/reports/common-resolvers/mixmappings.resolver.ts
  src/app/reports/common-resolvers/mixtaxonomy.resolver.ts
  src/app/reports/common-resolvers/reports.resolver.ts
  src/app/reports/common-resolvers/run-report.resolver.ts
  src/app/reports/reports-routing.module.ts
  src/app/reports/reports.module.ts
  src/app/reports/reports.service.ts
  src/app/reports/xbrl-report/xbrl-report.component.html
  src/app/reports/xbrl-report/xbrl-report.component.scss
  src/app/reports/xbrl-report/xbrl-report.component.spec.ts
  src/app/reports/xbrl-report/xbrl-report.component.ts
  src/app/reports/xbrl/xbrl.component.html
  src/app/reports/xbrl/xbrl.component.scss
  src/app/reports/xbrl/xbrl.component.spec.ts
  src/app/reports/xbrl/xbrl.component.ts
Labels: gsoc 2020
