Repository openMF/web-app, pull requests merged in 2020-05, with the labels that each got.

#650 fix: add cursor pointer style on mat-table
  src/app/accounting/closing-entries/closing-entries.component.html
  src/app/accounting/closing-entries/closing-entries.component.scss
  src/app/clients/clients.component.html
  src/app/clients/clients.component.scss
Labels: p3

#664 feat: add edit office component
  src/app/organization/offices/edit-office/edit-office.component.html
  src/app/organization/offices/edit-office/edit-office.component.scss
  src/app/organization/offices/edit-office/edit-office.component.spec.ts
  src/app/organization/offices/edit-office/edit-office.component.ts
  src/app/organization/offices/edit-office/edit-office.resolver.ts
  src/app/organization/offices/offices.component.html
  src/app/organization/organization-routing.module.ts
  src/app/organization/organization.module.ts
  src/app/organization/organization.service.ts
Labels: p1

#674 feat: add view scheduler job component
  src/app/system/manage-scheduler-jobs/manage-scheduler-jobs.component.html
  src/app/system/manage-scheduler-jobs/view-scheduler-job/view-scheduler-job.component.html
  src/app/system/manage-scheduler-jobs/view-scheduler-job/view-scheduler-job.component.scss
  src/app/system/manage-scheduler-jobs/view-scheduler-job/view-scheduler-job.component.spec.ts
  src/app/system/manage-scheduler-jobs/view-scheduler-job/view-scheduler-job.component.ts
  src/app/system/manage-scheduler-jobs/view-scheduler-job/view-scheduler-job.resolver.ts
  src/app/system/system-routing.module.ts
  src/app/system/system.module.ts
  src/app/system/system.service.ts
Labels: p1

#604 feat: add edit employee component
  src/app/organization/employees/edit-employee.resolver.ts
  src/app/organization/employees/edit-employee/edit-employee.component.html
  src/app/organization/employees/edit-employee/edit-employee.component.scss
  src/app/organization/employees/edit-employee/edit-employee.component.spec.ts
  src/app/organization/employees/edit-employee/edit-employee.component.ts
  src/app/organization/employees/view-employee/view-employee.component.html
  src/app/organization/organization-routing.module.ts
  src/app/organization/organization.module.ts
  src/app/organization/organization.service.ts
Labels: p1

#694 feat: add waive flag and payment functions
  src/app/clients/clients-view/general-tab/general-tab.component.html
  src/app/clients/clients-view/general-tab/general-tab.component.ts
  src/app/clients/clients.service.ts
Labels: p1

#591 feat: add create teller component
  src/app/organization/organization-routing.module.ts
  src/app/organization/organization.module.ts
  src/app/organization/organization.service.ts
  src/app/organization/tellers/create-teller/create-teller.component.html
  src/app/organization/tellers/create-teller/create-teller.component.scss
  src/app/organization/tellers/create-teller/create-teller.component.spec.ts
  src/app/organization/tellers/create-teller/create-teller.component.ts
  src/app/organization/tellers/tellers.component.html
Labels: p1

#598 feat: add edit teller component
  src/app/organization/organization-routing.module.ts
  src/app/organization/organization.module.ts
  src/app/organization/organization.service.ts
  src/app/organization/tellers/edit-teller/edit-teller.component.html
  src/app/organization/tellers/edit-teller/edit-teller.component.scss
  src/app/organization/tellers/edit-teller/edit-teller.component.spec.ts
  src/app/organization/tellers/edit-teller/edit-teller.component.ts
  src/app/organization/tellers/view-teller/view-teller.component.html
Labels: p1

#614 feat: add edit tax component
  src/app/products/manage-tax-components/edit-tax-component/edit-tax-component.component.html
  src/app/products/manage-tax-components/edit-tax-component/edit-tax-component.component.scss
  src/app/products/manage-tax-components/edit-tax-component/edit-tax-component.component.spec.ts
  src/app/products/manage-tax-components/edit-tax-component/edit-tax-component.component.ts
  src/app/products/manage-tax-components/view-tax-component/view-tax-component.component.html
  src/app/products/products-routing.module.ts
  src/app/products/products.module.ts
  src/app/products/products.service.ts
Labels: p1

#660 feat: add change user password model
  src/app/shared/change-password-dialog/change-password-dialog.component.html
  src/app/shared/change-password-dialog/change-password-dialog.component.scss
  src/app/shared/change-password-dialog/change-password-dialog.component.spec.ts
  src/app/shared/change-password-dialog/change-password-dialog.component.ts
  src/app/shared/shared.module.ts
  src/app/users/users.service.ts
  src/app/users/view-user/view-user.component.html
  src/app/users/view-user/view-user.component.ts
Labels: p2

#631 feat: add loan provisioning page
  src/app/organization/loan-provisioning-criteria/loan-provisioning-criteria.component.html
  src/app/organization/loan-provisioning-criteria/loan-provisioning-criteria.component.ts
  src/app/organization/loan-provisioning-criteria/loan-provisioning-criteria.resolver.ts
  src/app/organization/loan-provisioning-criteria/loan-provisioning-criterias.resolver.ts
  src/app/organization/loan-provisioning-criteria/view-loan-provisioning-criteria/view-loan-provisioning-criteria.component.html
  src/app/organization/loan-provisioning-criteria/view-loan-provisioning-criteria/view-loan-provisioning-criteria.component.scss
  src/app/organization/loan-provisioning-criteria/view-loan-provisioning-criteria/view-loan-provisioning-criteria.component.spec.ts
  src/app/organization/loan-provisioning-criteria/view-loan-provisioning-criteria/view-loan-provisioning-criteria.component.ts
  src/app/organization/organization-routing.module.ts
  src/app/organization/organization.module.ts
  src/app/organization/organization.service.ts
Labels: p2

#625 feat: add edit charge component
  src/app/products/charges/charges-template.resolver.ts
  src/app/products/charges/edit-charge/edit-charge.component.html
  src/app/products/charges/edit-charge/edit-charge.component.scss
  src/app/products/charges/edit-charge/edit-charge.component.spec.ts
  src/app/products/charges/edit-charge/edit-charge.component.ts
  src/app/products/charges/view-charge/view-charge.component.html
  src/app/products/products-routing.module.ts
  src/app/products/products.module.ts
  src/app/products/products.service.ts
Labels: p2

#716 feat: add user activity search component
  src/app/home/activities.ts
  src/app/home/home.component.html
  src/app/home/home.component.scss
  src/app/home/home.component.ts
Labels: p2

#722 feat: add has-permission structural directive
  src/app/accounting/accounting.component.html
  src/app/accounting/accounting.module.ts
  src/app/directives/directives.module.ts
  src/app/directives/has-permission/has-permission.directive.spec.ts
  src/app/directives/has-permission/has-permission.directive.ts
Labels: review requested

#784 feat: add groups view page (general-tab)
  src/app/groups/common-resolvers/group-account.resolver.ts
  src/app/groups/common-resolvers/group-client-members.resolver.ts
  src/app/groups/common-resolvers/group-summary.resolver.ts
  src/app/groups/common-resolvers/group-view.resolver.ts
  src/app/groups/groups-routing.module.ts
  src/app/groups/groups-view/general-tab/general-tab.component.html
  src/app/groups/groups-view/general-tab/general-tab.component.scss
  src/app/groups/groups-view/general-tab/general-tab.component.spec.ts
  src/app/groups/groups-view/general-tab/general-tab.component.ts
  src/app/groups/groups-view/groups-view.component-theme.scss
  src/app/groups/groups-view/groups-view.component.html
  src/app/groups/groups-view/groups-view.component.scss
  src/app/groups/groups-view/groups-view.component.spec.ts
  src/app/groups/groups-view/groups-view.component.ts
  src/app/groups/groups.component.html
  src/app/groups/groups.component.scss
  src/app/groups/groups.module.ts
  src/app/groups/groups.service.ts
  src/assets/images/group_placeholder.png
  src/theme/custom/denim-yellowgreen.scss
  src/theme/custom/pictonblue-yellowgreen.scss
Labels: gsoc 2020

#782 feat: add view center general tab
  src/app/centers/centers-routing.module.ts
  src/app/centers/centers-view/centers-view.component-theme.scss
  src/app/centers/centers-view/centers-view.component.html
  src/app/centers/centers-view/centers-view.component.scss
  src/app/centers/centers-view/centers-view.component.spec.ts
  src/app/centers/centers-view/centers-view.component.ts
  src/app/centers/centers-view/general-tab/general-tab.component.html
  src/app/centers/centers-view/general-tab/general-tab.component.scss
  src/app/centers/centers-view/general-tab/general-tab.component.spec.ts
  src/app/centers/centers-view/general-tab/general-tab.component.ts
  src/app/centers/centers.component.html
  src/app/centers/centers.component.scss
  src/app/centers/centers.module.ts
  src/app/centers/centers.service.ts
  src/app/centers/common-resolvers/center-resource.resolver.ts
  src/app/centers/common-resolvers/center-summary.resolver.ts
  src/app/centers/common-resolvers/center-view.resolver.ts
  src/app/centers/common-resolvers/savings-account.resolver.ts
  src/app/pipes/status-lookup.pipe.ts
  src/assets/images/center_placeholder.png
  src/theme/custom/denim-yellowgreen.scss
  src/theme/custom/pictonblue-yellowgreen.scss
Labels: gsoc 2020

#789 feat: add groups view page (notes-tab)
  src/app/groups/common-resolvers/group-notes.resolver.ts
  src/app/groups/groups-routing.module.ts
  src/app/groups/groups-view/groups-view.component.html
  src/app/groups/groups-view/notes-tab/notes-tab.component.html
  src/app/groups/groups-view/notes-tab/notes-tab.component.scss
  src/app/groups/groups-view/notes-tab/notes-tab.component.spec.ts
  src/app/groups/groups-view/notes-tab/notes-tab.component.ts
  src/app/groups/groups.module.ts
  src/app/groups/groups.service.ts
Labels: gsoc 2020

#790 feat: add groups view page (committee-tab)
  src/app/groups/common-resolvers/group-client-members.resolver.ts
  src/app/groups/groups-routing.module.ts
  src/app/groups/groups-view/committee-tab/committee-tab.component.html
  src/app/groups/groups-view/committee-tab/committee-tab.component.scss
  src/app/groups/groups-view/committee-tab/committee-tab.component.spec.ts
  src/app/groups/groups-view/committee-tab/committee-tab.component.ts
  src/app/groups/groups-view/general-tab/general-tab.component.ts
  src/app/groups/groups-view/groups-view.component.html
  src/app/groups/groups-view/notes-tab/notes-tab.component.html
  src/app/groups/groups.module.ts
  src/app/groups/groups.service.ts
  src/app/shared/icons.module.ts
Labels: gsoc 2020

#799 feat: add center view page (datatable-tabs)
  src/app/centers/centers-routing.module.ts
  src/app/centers/centers-view/centers-view.component.html
  src/app/centers/centers-view/centers-view.component.ts
  src/app/centers/centers-view/datatable-tab/datatable-tab.component.html
  src/app/centers/centers-view/datatable-tab/datatable-tab.component.scss
  src/app/centers/centers-view/datatable-tab/datatable-tab.component.spec.ts
  src/app/centers/centers-view/datatable-tab/datatable-tab.component.ts
  src/app/centers/centers-view/datatable-tab/multi-row/multi-row.component.html
  src/app/centers/centers-view/datatable-tab/multi-row/multi-row.component.scss
  src/app/centers/centers-view/datatable-tab/multi-row/multi-row.component.spec.ts
  src/app/centers/centers-view/datatable-tab/multi-row/multi-row.component.ts
  src/app/centers/centers-view/datatable-tab/single-row/single-row.component.html
  src/app/centers/centers-view/datatable-tab/single-row/single-row.component.scss
  src/app/centers/centers-view/datatable-tab/single-row/single-row.component.spec.ts
  src/app/centers/centers-view/datatable-tab/single-row/single-row.component.ts
  src/app/centers/centers.module.ts
  src/app/centers/centers.service.ts
  src/app/centers/common-resolvers/center-datatable.resolver.ts
  src/app/centers/common-resolvers/center-datatables.resolver.ts
Labels: gsoc 2020

#793 feat: add groups view page (datatable-tabs)
  src/app/groups/common-resolvers/group-datatable.resolver.ts
  src/app/groups/common-resolvers/group-datatables.resolver.ts
  src/app/groups/groups-routing.module.ts
  src/app/groups/groups-view/committee-tab/committee-tab.component.html
  src/app/groups/groups-view/committee-tab/committee-tab.component.scss
  src/app/groups/groups-view/datatable-tabs/datatable-tabs.component.html
  src/app/groups/groups-view/datatable-tabs/datatable-tabs.component.scss
  src/app/groups/groups-view/datatable-tabs/datatable-tabs.component.spec.ts
  src/app/groups/groups-view/datatable-tabs/datatable-tabs.component.ts
  src/app/groups/groups-view/datatable-tabs/multi-row/multi-row.component.html
  src/app/groups/groups-view/datatable-tabs/multi-row/multi-row.component.scss
  src/app/groups/groups-view/datatable-tabs/multi-row/multi-row.component.spec.ts
  src/app/groups/groups-view/datatable-tabs/multi-row/multi-row.component.ts
  src/app/groups/groups-view/datatable-tabs/single-row/single-row.component.html
  src/app/groups/groups-view/datatable-tabs/single-row/single-row.component.scss
  src/app/groups/groups-view/datatable-tabs/single-row/single-row.component.spec.ts
  src/app/groups/groups-view/datatable-tabs/single-row/single-row.component.ts
  src/app/groups/groups-view/general-tab/general-tab.component.html
  src/app/groups/groups-view/general-tab/general-tab.component.scss
  src/app/groups/groups-view/groups-view.component.html
  src/app/groups/groups-view/groups-view.component.ts
  src/app/groups/groups.module.ts
  src/app/groups/groups.service.ts
Labels: gsoc 2020

#773 build: chart.js and other dependencies
  package-lock.json
  package.json
  src/app/app.module.ts
Labels: dependencies

#742 fix: login to current versions of Fineract API (#741)
  src/app/core/authentication/authentication.service.ts
Labels: discuss, enhancement, question

#681 feat: view client charge overview
  src/app/clients/clients-routing.module.ts
  src/app/clients/clients-view/charges-overview/charge-overview.resolver.ts
  src/app/clients/clients-view/charges-overview/charges-overview.component.html
  src/app/clients/clients-view/charges-overview/charges-overview.component.scss
  src/app/clients/clients-view/charges-overview/charges-overview.component.spec.ts
  src/app/clients/clients-view/charges-overview/charges-overview.component.ts
  src/app/clients/clients-view/general-tab/general-tab.component.html
  src/app/clients/clients.module.ts
  src/app/clients/clients.service.ts
Labels: UI-review, p1

#590 feat: add navigation component
  src/app/navigation/center-navigation/center-navigation.component.html
  src/app/navigation/center-navigation/center-navigation.component.scss
  src/app/navigation/center-navigation/center-navigation.component.spec.ts
  src/app/navigation/center-navigation/center-navigation.component.ts
  src/app/navigation/client-navigation/client-navigation.component.html
  src/app/navigation/client-navigation/client-navigation.component.scss
  src/app/navigation/client-navigation/client-navigation.component.spec.ts
  src/app/navigation/client-navigation/client-navigation.component.ts
  src/app/navigation/group-navigation/group-navigation.component.html
  src/app/navigation/group-navigation/group-navigation.component.scss
  src/app/navigation/group-navigation/group-navigation.component.spec.ts
  src/app/navigation/group-navigation/group-navigation.component.ts
  src/app/navigation/loan-account-table/loan-account-table.component.html
  src/app/navigation/loan-account-table/loan-account-table.component.scss
  src/app/navigation/loan-account-table/loan-account-table.component.spec.ts
  src/app/navigation/loan-account-table/loan-account-table.component.ts
  src/app/navigation/member-groups/member-groups.component.html
  src/app/navigation/member-groups/member-groups.component.scss
  src/app/navigation/member-groups/member-groups.component.spec.ts
  src/app/navigation/member-groups/member-groups.component.ts
  src/app/navigation/navigation-routing.module.ts
  src/app/navigation/navigation.component.html
  src/app/navigation/navigation.component.ts
  src/app/navigation/navigation.module.ts
  src/app/navigation/navigation.service.ts
  src/app/navigation/office-navigation/office-navigation.component.html
  src/app/navigation/office-navigation/office-navigation.component.scss
  src/app/navigation/office-navigation/office-navigation.component.spec.ts
  src/app/navigation/office-navigation/office-navigation.component.ts
  src/app/navigation/offices.resolver.ts
  src/app/navigation/savings-account-table/savings-account-table.component.html
  src/app/navigation/savings-account-table/savings-account-table.component.scss
  src/app/navigation/savings-account-table/savings-account-table.component.spec.ts
  src/app/navigation/savings-account-table/savings-account-table.component.ts
  src/app/navigation/share-account-table/share-account-table.component.html
  src/app/navigation/share-account-table/share-account-table.component.scss
  src/app/navigation/share-account-table/share-account-table.component.spec.ts
  src/app/navigation/share-account-table/share-account-table.component.ts
  src/app/navigation/staff-navigation/staff-navigation.component.html
  src/app/navigation/staff-navigation/staff-navigation.component.scss
  src/app/navigation/staff-navigation/staff-navigation.component.spec.ts
  src/app/navigation/staff-navigation/staff-navigation.component.ts
  src/app/pipes/status-lookup.pipe.ts
Labels: inactive, review requested

#592 feat: add create report page
  src/app/reports/common-models/chart-data.model.ts
  src/app/reports/common-models/report-parameter.model.ts
  src/app/reports/common-models/select-option.model.ts
  src/app/reports/reports-routing.module.ts
  src/app/reports/reports.component.html
  src/app/reports/reports.module.ts
  src/app/reports/reports.service.ts
  src/app/reports/run-report/chart/chart.component.html
  src/app/reports/run-report/chart/chart.component.scss
  src/app/reports/run-report/chart/chart.component.spec.ts
  src/app/reports/run-report/chart/chart.component.ts
  src/app/reports/run-report/pentaho/pentaho.component.html
  src/app/reports/run-report/pentaho/pentaho.component.scss
  src/app/reports/run-report/pentaho/pentaho.component.spec.ts
  src/app/reports/run-report/pentaho/pentaho.component.ts
  src/app/reports/run-report/run-report.component.html
  src/app/reports/run-report/run-report.component.scss
  src/app/reports/run-report/run-report.component.spec.ts
  src/app/reports/run-report/run-report.component.ts
  src/app/reports/run-report/run-report.resolver.ts
  src/app/reports/run-report/table-and-sms/table-and-sms.component.html
  src/app/reports/run-report/table-and-sms/table-and-sms.component.scss
  src/app/reports/run-report/table-and-sms/table-and-sms.component.spec.ts
  src/app/reports/run-report/table-and-sms/table-and-sms.component.ts
  src/typings.d.ts
Labels: gsoc 2020

#811 feat: add dashboard component
  src/app/home/dashboard/amount-collected-pie/amount-collected-pie.component.html
  src/app/home/dashboard/amount-collected-pie/amount-collected-pie.component.scss
  src/app/home/dashboard/amount-collected-pie/amount-collected-pie.component.spec.ts
  src/app/home/dashboard/amount-collected-pie/amount-collected-pie.component.ts
  src/app/home/dashboard/amount-disbursed-pie/amount-disbursed-pie.component.html
  src/app/home/dashboard/amount-disbursed-pie/amount-disbursed-pie.component.scss
  src/app/home/dashboard/amount-disbursed-pie/amount-disbursed-pie.component.spec.ts
  src/app/home/dashboard/amount-disbursed-pie/amount-disbursed-pie.component.ts
  src/app/home/dashboard/client-trends-bar/client-trends-bar.component.html
  src/app/home/dashboard/client-trends-bar/client-trends-bar.component.scss
  src/app/home/dashboard/client-trends-bar/client-trends-bar.component.spec.ts
  src/app/home/dashboard/client-trends-bar/client-trends-bar.component.ts
  src/app/home/dashboard/dashboard.component-theme.scss
  src/app/home/dashboard/dashboard.component.html
  src/app/home/dashboard/dashboard.component.scss
  src/app/home/dashboard/dashboard.component.ts
  src/app/home/home-routing.module.ts
  src/app/home/home.module.ts
  src/app/home/home.service.spec.ts
  src/app/home/home.service.ts
  src/app/pipes/pipes.module.ts
  src/app/pipes/url-to-string.pipe.spec.ts
  src/app/pipes/url-to-string.pipe.ts
  src/app/shared/icons.module.ts
  src/app/web-app.component.ts
  src/theme/custom/denim-yellowgreen.scss
  src/theme/custom/pictonblue-yellowgreen.scss
Labels: gsoc 2020

#632 feat: manage roles and permission and edit permission
  src/app/shared/disable-dialog/disable-dialog.component.html
  src/app/shared/disable-dialog/disable-dialog.component.scss
  src/app/shared/disable-dialog/disable-dialog.component.spec.ts
  src/app/shared/disable-dialog/disable-dialog.component.ts
  src/app/shared/enable-dialog/enable-dialog.component.html
  src/app/shared/enable-dialog/enable-dialog.component.scss
  src/app/shared/enable-dialog/enable-dialog.component.spec.ts
  src/app/shared/enable-dialog/enable-dialog.component.ts
  src/app/shared/shared.module.ts
  src/app/system/roles-and-permissions/edit-role/edit-role.component.html
  src/app/system/roles-and-permissions/edit-role/edit-role.component.scss
  src/app/system/roles-and-permissions/edit-role/edit-role.component.spec.ts
  src/app/system/roles-and-permissions/edit-role/edit-role.component.ts
  src/app/system/roles-and-permissions/roles-and-permissions.component.html
  src/app/system/roles-and-permissions/roles-and-permissions.component.ts
  src/app/system/roles-and-permissions/view-role/view-role.component.html
  src/app/system/roles-and-permissions/view-role/view-role.component.scss
  src/app/system/roles-and-permissions/view-role/view-role.component.spec.ts
  src/app/system/roles-and-permissions/view-role/view-role.component.ts
  src/app/system/roles-and-permissions/view-role/view-role.resolver.ts
  src/app/system/system-routing.module.ts
  src/app/system/system.module.ts
  src/app/system/system.service.ts
Labels: review requested

#613 feat: add entity to entity mapping
  src/app/system/entity-to-entity-mapping/entity-to-entity-mapping.component.html
  src/app/system/entity-to-entity-mapping/entity-to-entity-mapping.component.scss
  src/app/system/entity-to-entity-mapping/entity-to-entity-mapping.component.spec.ts
  src/app/system/entity-to-entity-mapping/entity-to-entity-mapping.component.ts
  src/app/system/entity-to-entity-mapping/entity-to-entity-mapping.resolver.ts
  src/app/system/system-routing.module.ts
  src/app/system/system.component.html
  src/app/system/system.module.ts
  src/app/system/system.service.ts
Labels: review requested

#822 feat: add new entity mapping
  src/app/system/entity-to-entity-mapping/entity-to-entity-mapping.component.html
  src/app/system/entity-to-entity-mapping/entity-to-entity-mapping.component.scss
  src/app/system/entity-to-entity-mapping/entity-to-entity-mapping.component.ts
  src/app/system/system.module.ts
  src/app/system/system.service.ts
Labels: gsoc 2020

#823 feat: add edit entity mapping
  src/app/system/entity-to-entity-mapping/entity-to-entity-mapping.component.html
  src/app/system/entity-to-entity-mapping/entity-to-entity-mapping.component.ts
  src/app/system/system.service.ts
Labels: gsoc 2020

#661 feat: Add loans view page (general and account details tab)
  src/app/clients/clients-routing.module.ts
  src/app/clients/clients-view/general-tab/general-tab.component.html
  src/app/clients/clients-view/general-tab/general-tab.component.scss
  src/app/loans/common-resolvers/loan-details-general.resolver.ts
  src/app/loans/common-resolvers/loan-details.resolver.ts
  src/app/loans/loans-routing.module.ts
  src/app/loans/loans-view/account-details/account-details.component.html
  src/app/loans/loans-view/account-details/account-details.component.scss
  src/app/loans/loans-view/account-details/account-details.component.spec.ts
  src/app/loans/loans-view/account-details/account-details.component.ts
  src/app/loans/loans-view/button-config.ts
  src/app/loans/loans-view/general-tab/general-tab.component.html
  src/app/loans/loans-view/general-tab/general-tab.component.scss
  src/app/loans/loans-view/general-tab/general-tab.component.spec.ts
  src/app/loans/loans-view/general-tab/general-tab.component.ts
  src/app/loans/loans-view/loans-view.component-theme.scss
  src/app/loans/loans-view/loans-view.component.html
  src/app/loans/loans-view/loans-view.component.scss
  src/app/loans/loans-view/loans-view.component.spec.ts
  src/app/loans/loans-view/loans-view.component.ts
  src/app/loans/loans.module.ts
  src/app/loans/loans.service.ts
  src/theme/custom/denim-yellowgreen.scss
  src/theme/custom/pictonblue-yellowgreen.scss
Labels: gsoc 2020

#828 feat: add view office page
  src/app/organization/offices/common-resolvers/edit-office.resolver.ts
  src/app/organization/offices/common-resolvers/office-datatable.resolver.ts
  src/app/organization/offices/common-resolvers/office-datatables.resolver.ts
  src/app/organization/offices/common-resolvers/office.resolver.ts
  src/app/organization/offices/common-resolvers/offices.resolver.ts
  src/app/organization/offices/edit-office/edit-office.component.html
  src/app/organization/offices/offices.component.html
  src/app/organization/offices/view-office/datatable-tabs/datatable-tabs.component.html
  src/app/organization/offices/view-office/datatable-tabs/datatable-tabs.component.scss
  src/app/organization/offices/view-office/datatable-tabs/datatable-tabs.component.spec.ts
  src/app/organization/offices/view-office/datatable-tabs/datatable-tabs.component.ts
  src/app/organization/offices/view-office/datatable-tabs/multi-row/multi-row.component.html
  src/app/organization/offices/view-office/datatable-tabs/multi-row/multi-row.component.scss
  src/app/organization/offices/view-office/datatable-tabs/multi-row/multi-row.component.spec.ts
  src/app/organization/offices/view-office/datatable-tabs/multi-row/multi-row.component.ts
  src/app/organization/offices/view-office/datatable-tabs/single-row/single-row.component.html
  src/app/organization/offices/view-office/datatable-tabs/single-row/single-row.component.scss
  src/app/organization/offices/view-office/datatable-tabs/single-row/single-row.component.spec.ts
  src/app/organization/offices/view-office/datatable-tabs/single-row/single-row.component.ts
  src/app/organization/offices/view-office/general-tab/general-tab.component.html
  src/app/organization/offices/view-office/general-tab/general-tab.component.scss
  src/app/organization/offices/view-office/general-tab/general-tab.component.spec.ts
  src/app/organization/offices/view-office/general-tab/general-tab.component.ts
  src/app/organization/offices/view-office/view-office.component.html
  src/app/organization/offices/view-office/view-office.component.scss
  src/app/organization/offices/view-office/view-office.component.spec.ts
  src/app/organization/offices/view-office/view-office.component.ts
  src/app/organization/organization-routing.module.ts
  src/app/organization/organization.module.ts
  src/app/organization/organization.service.ts
Labels: gsoc 2020
