Repository openMF/web-app, pull requests merged in 2020-08, with the labels that each got.

#1162 feat: add edit recurring deposit product
  src/app/products/products-routing.module.ts
  src/app/products/products.module.ts
  src/app/products/products.service.ts
  src/app/products/recurring-deposit-products/edit-recurring-deposit-product/edit-recurring-deposit-product.component.html
  src/app/products/recurring-deposit-products/edit-recurring-deposit-product/edit-recurring-deposit-product.component.scss
  src/app/products/recurring-deposit-products/edit-recurring-deposit-product/edit-recurring-deposit-product.component.spec.ts
  src/app/products/recurring-deposit-products/edit-recurring-deposit-product/edit-recurring-deposit-product.component.ts
  src/app/products/recurring-deposit-products/edit-recurring-deposit-product/recurring-deposit-product-and-template.resolver.ts
  src/app/products/recurring-deposit-products/recurring-deposit-product-stepper/recurring-deposit-product-accounting-step/recurring-deposit-product-accounting-step.component.ts
  src/app/products/recurring-deposit-products/recurring-deposit-product-stepper/recurring-deposit-product-charges-step/recurring-deposit-product-charges-step.component.ts
  src/app/products/recurring-deposit-products/recurring-deposit-product-stepper/recurring-deposit-product-currency-step/recurring-deposit-product-currency-step.component.ts
  src/app/products/recurring-deposit-products/recurring-deposit-product-stepper/recurring-deposit-product-details-step/recurring-deposit-product-details-step.component.html
  src/app/products/recurring-deposit-products/recurring-deposit-product-stepper/recurring-deposit-product-details-step/recurring-deposit-product-details-step.component.ts
  src/app/products/recurring-deposit-products/recurring-deposit-product-stepper/recurring-deposit-product-interest-rate-chart-step/recurring-deposit-product-interest-rate-chart-step.component.ts
  src/app/products/recurring-deposit-products/recurring-deposit-product-stepper/recurring-deposit-product-settings-step/recurring-deposit-product-settings-step.component.ts
  src/app/products/recurring-deposit-products/recurring-deposit-product-stepper/recurring-deposit-product-terms-step/recurring-deposit-product-terms-step.component.ts
  src/app/products/recurring-deposit-products/recurring-deposit-products.component.html
  src/app/products/recurring-deposit-products/view-recurring-deposit-product/view-recurring-deposit-product.component.html
Labels: gsoc 2020

#1164 feat: multiple sms campaign actions
  src/app/organization/organization.service.ts
  src/app/organization/sms-campaigns/view-campaign/view-campaign.component.html
  src/app/organization/sms-campaigns/view-campaign/view-campaign.component.ts
Labels: gsoc 2020

#683 fix: clients view search field
  src/app/clients/clients.component.html
  src/app/clients/clients.component.ts
  src/app/clients/clients.datasource.ts
Labels: p2

#1167 feat: add create loan provisioning criteria
  src/app/organization/loan-provisioning-criteria/common-resolvers/loan-provisioning-criteria-template.resolver.ts
  src/app/organization/loan-provisioning-criteria/common-resolvers/loan-provisioning-criteria.resolver.ts
  src/app/organization/loan-provisioning-criteria/common-resolvers/loan-provisioning-criterias.resolver.ts
  src/app/organization/loan-provisioning-criteria/create-loan-provisioning-criteria/create-loan-provisioning-criteria.component.html
  src/app/organization/loan-provisioning-criteria/create-loan-provisioning-criteria/create-loan-provisioning-criteria.component.scss
  src/app/organization/loan-provisioning-criteria/create-loan-provisioning-criteria/create-loan-provisioning-criteria.component.spec.ts
  src/app/organization/loan-provisioning-criteria/create-loan-provisioning-criteria/create-loan-provisioning-criteria.component.ts
  src/app/organization/loan-provisioning-criteria/loan-provisioning-criteria.component.html
  src/app/organization/loan-provisioning-criteria/view-loan-provisioning-criteria/view-loan-provisioning-criteria.component.html
  src/app/organization/loan-provisioning-criteria/view-loan-provisioning-criteria/view-loan-provisioning-criteria.component.ts
  src/app/organization/organization-routing.module.ts
  src/app/organization/organization.module.ts
  src/app/organization/organization.service.ts
Labels: gsoc 2020

#1170 feat: add view notifications page
  src/app/app.module.ts
  src/app/core/shell/sidenav/sidenav.component.html
  src/app/notifications/notifications-page/notifications-page.component.html
  src/app/notifications/notifications-page/notifications-page.component.scss
  src/app/notifications/notifications-page/notifications-page.component.spec.ts
  src/app/notifications/notifications-page/notifications-page.component.ts
  src/app/notifications/notifications-routing.module.ts
  src/app/notifications/notifications.module.ts
  src/app/notifications/notifications.resolver.ts
  src/app/notifications/notifications.service.spec.ts
  src/app/notifications/notifications.service.ts
Labels: gsoc 2020

#572 feat: add view fixed deposit product component
  src/app/products/fixed-deposit-products/fixed-deposit-product-stepper/fixed-deposit-product-preview-step/fixed-deposit-product-preview-step.component.html
  src/app/products/fixed-deposit-products/fixed-deposit-product.resolver.ts
  src/app/products/fixed-deposit-products/fixed-deposit-products.component.html
  src/app/products/fixed-deposit-products/view-fixed-deposit-product/view-fixed-deposit-product.component.html
  src/app/products/fixed-deposit-products/view-fixed-deposit-product/view-fixed-deposit-product.component.scss
  src/app/products/fixed-deposit-products/view-fixed-deposit-product/view-fixed-deposit-product.component.spec.ts
  src/app/products/fixed-deposit-products/view-fixed-deposit-product/view-fixed-deposit-product.component.ts
  src/app/products/products-routing.module.ts
  src/app/products/products.module.ts
  src/app/products/products.service.ts
Labels: review requested

#1172 feat: add notifications tray component
  src/app/core/core.module.ts
  src/app/core/shell/toolbar/toolbar.component.html
  src/app/notifications/notifications-page/notifications-page.component.html
  src/app/notifications/notifications-page/notifications-page.component.scss
  src/app/notifications/notifications-page/notifications-page.component.ts
  src/app/notifications/notifications-tray/notifications-tray.component.html
  src/app/notifications/notifications-tray/notifications-tray.component.scss
  src/app/notifications/notifications-tray/notifications-tray.component.spec.ts
  src/app/notifications/notifications-tray/notifications-tray.component.ts
  src/app/notifications/notifications.module.ts
  src/app/notifications/notifications.service.ts
  src/app/shared/material.module.ts
Labels: gsoc 2020

#1173 feat: add create, add tax groups
  src/app/products/manage-tax-groups/create-tax-group/create-tax-group.component.html
  src/app/products/manage-tax-groups/create-tax-group/create-tax-group.component.scss
  src/app/products/manage-tax-groups/create-tax-group/create-tax-group.component.spec.ts
  src/app/products/manage-tax-groups/create-tax-group/create-tax-group.component.ts
  src/app/products/manage-tax-groups/create-tax-group/manage-tax-group-template.resolver.ts
  src/app/products/manage-tax-groups/edit-tax-group/edit-tax-group.component.html
  src/app/products/manage-tax-groups/edit-tax-group/edit-tax-group.component.scss
  src/app/products/manage-tax-groups/edit-tax-group/edit-tax-group.component.spec.ts
  src/app/products/manage-tax-groups/edit-tax-group/edit-tax-group.component.ts
  src/app/products/manage-tax-groups/edit-tax-group/edit-tax-group.resolver.ts
  src/app/products/manage-tax-groups/manage-tax-groups.component.html
  src/app/products/manage-tax-groups/tax-group.resolver.ts
  src/app/products/manage-tax-groups/view-tax-group/view-tax-group.component.html
  src/app/products/products-routing.module.ts
  src/app/products/products.module.ts
  src/app/products/products.service.ts
Labels: gsoc 2020

#1175 feat: add create charge component
  src/app/products/charges/charges-template-and-resolver.ts
  src/app/products/charges/charges-template.resolver.ts
  src/app/products/charges/charges.component.html
  src/app/products/charges/create-charge/create-charge.component.html
  src/app/products/charges/create-charge/create-charge.component.scss
  src/app/products/charges/create-charge/create-charge.component.spec.ts
  src/app/products/charges/create-charge/create-charge.component.ts
  src/app/products/charges/edit-charge/edit-charge.component.html
  src/app/products/charges/view-charge/view-charge.component.html
  src/app/products/products-mix/create-product-mix/create-product-mix.component.html
  src/app/products/products-mix/edit-product-mix/edit-product-mix.component.html
  src/app/products/products-mix/products-mix.component.html
  src/app/products/products-mix/view-product-mix/view-product-mix.component.html
  src/app/products/products-routing.module.ts
  src/app/products/products.module.ts
  src/app/products/products.service.ts
Labels: gsoc 2020

#1177 feat: standing instructions history
  src/app/organization/organization-routing.module.ts
  src/app/organization/organization.component.html
  src/app/organization/organization.module.ts
  src/app/organization/organization.service.ts
  src/app/organization/standing-instructions-history/standing-instructions-history.component.html
  src/app/organization/standing-instructions-history/standing-instructions-history.component.scss
  src/app/organization/standing-instructions-history/standing-instructions-history.component.spec.ts
  src/app/organization/standing-instructions-history/standing-instructions-history.component.ts
  src/app/organization/standing-instructions-history/standing-instructions-template.resolver.ts
  src/app/organization/tellers/common-resolvers/teller-transaction-template.resolver.ts
Labels: gsoc 2020

#1180 feat: loans advanced search (fund-mapping) component
  src/app/organization/fund-mapping/advance-search-template.resolver.ts
  src/app/organization/fund-mapping/fund-mapping.component.html
  src/app/organization/fund-mapping/fund-mapping.component.scss
  src/app/organization/fund-mapping/fund-mapping.component.spec.ts
  src/app/organization/fund-mapping/fund-mapping.component.ts
  src/app/organization/organization-routing.module.ts
  src/app/organization/organization.component.html
  src/app/organization/organization.module.ts
  src/app/organization/organization.service.ts
Labels: gsoc 2020

#1182 build: CKEditor5
  package-lock.json
  package.json
Labels: gsoc 2020

#1183 feat: add edit template component
  src/app/shared/icons.module.ts
  src/app/templates/common-resolvers/edit-template.resolver.ts
  src/app/templates/common-resolvers/template.resolver.ts
  src/app/templates/common-resolvers/templates.resolver.ts
  src/app/templates/edit-template/edit-template.component.html
  src/app/templates/edit-template/edit-template.component.scss
  src/app/templates/edit-template/edit-template.component.spec.ts
  src/app/templates/edit-template/edit-template.component.ts
  src/app/templates/template-parameter-labels.ts
  src/app/templates/templates-routing.module.ts
  src/app/templates/templates.module.ts
  src/app/templates/templates.service.ts
  src/app/templates/view-template/view-template.component.html
  src/typings.d.ts
Labels: gsoc 2020

#1187 feat: add view incentives (recurring deposits account)
  src/app/deposits/recurring-deposits/recurring-deposits-account-stepper/recurring-deposits-account-interest-rate-chart-step/recurring-deposits-account-interest-rate-chart-step.component.html
  src/app/deposits/recurring-deposits/recurring-deposits-account-stepper/recurring-deposits-account-interest-rate-chart-step/recurring-deposits-account-interest-rate-chart-step.component.scss
  src/app/deposits/recurring-deposits/recurring-deposits-account-stepper/recurring-deposits-account-interest-rate-chart-step/recurring-deposits-account-interest-rate-chart-step.component.ts
  src/app/deposits/recurring-deposits/recurring-deposits-account-stepper/recurring-deposits-account-preview-step/recurring-deposits-account-preview-step.component.html
  src/app/deposits/recurring-deposits/recurring-deposits-account-stepper/recurring-deposits-account-preview-step/recurring-deposits-account-preview-step.component.scss
  src/app/deposits/recurring-deposits/recurring-deposits-account-stepper/recurring-deposits-account-preview-step/recurring-deposits-account-preview-step.component.ts
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/interest-rate-chart-tab/interest-rate-chart-tab.component.html
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/interest-rate-chart-tab/interest-rate-chart-tab.component.scss
  src/app/deposits/recurring-deposits/recurring-deposits-account-view/interest-rate-chart-tab/interest-rate-chart-tab.component.ts
Labels: gsoc 2020

#1191 feat: add keyboard shortcuts
  src/app/account-transfers/list-standing-instructions/list-standing-instructions.component.ts
  src/app/core/shell/sidenav/sidenav.component.html
  src/app/core/shell/sidenav/sidenav.component.ts
  src/app/core/shell/toolbar/toolbar.component.html
  src/app/core/shell/toolbar/toolbar.component.ts
  src/app/keyboards-shortcut-config.ts
  src/app/reports/run-report/run-report.component.html
  src/app/reports/xbrl-report/xbrl-report.component.html
  src/app/shared/keyboard-shortcuts-dialog/keyboard-shortcuts-dialog.component.html
  src/app/shared/keyboard-shortcuts-dialog/keyboard-shortcuts-dialog.component.scss
  src/app/shared/keyboard-shortcuts-dialog/keyboard-shortcuts-dialog.component.spec.ts
  src/app/shared/keyboard-shortcuts-dialog/keyboard-shortcuts-dialog.component.ts
  src/app/shared/shared.module.ts
  src/app/web-app.component.ts
  src/assets/images/keyboard_placeholder.png
Labels: gsoc 2020

#1194 feat: add centers action (staff assignment history)
  src/app/centers/centers-view/center-actions/center-actions.component.html
  src/app/centers/centers-view/center-actions/center-actions.component.ts
  src/app/centers/centers-view/center-actions/staff-assignment-history/staff-assignment-history.component.html
  src/app/centers/centers-view/center-actions/staff-assignment-history/staff-assignment-history.component.scss
  src/app/centers/centers-view/center-actions/staff-assignment-history/staff-assignment-history.component.spec.ts
  src/app/centers/centers-view/center-actions/staff-assignment-history/staff-assignment-history.component.ts
  src/app/centers/centers-view/centers-view.component.html
  src/app/centers/centers-view/centers-view.component.ts
  src/app/centers/centers.module.ts
  src/app/centers/centers.service.ts
  src/app/centers/common-resolvers/center-actions.resolver.ts
Labels: gsoc 2020

#1197 refactor: groups module
  src/app/groups/common-resolvers/group-actions.resolver.ts
  src/app/groups/edit-group/edit-group.component.ts
  src/app/groups/groups-view/add-role/add-role.component.html
  src/app/groups/groups-view/add-role/add-role.component.ts
  src/app/groups/groups-view/group-actions/activate-group/activate-group.component.ts
  src/app/groups/groups-view/group-actions/attach-group-meeting/attach-group-meeting.component.html
  src/app/groups/groups-view/group-actions/close-group/close-group.component.html
  src/app/groups/groups-view/group-actions/close-group/close-group.component.ts
  src/app/groups/groups-view/group-actions/edit-group-meeting-schedule/edit-group-meeting-schedule.component.html
  src/app/groups/groups-view/group-actions/edit-group-meeting/edit-group-meeting.component.html
  src/app/groups/groups-view/group-actions/group-actions.component.ts
  src/app/groups/groups-view/group-actions/group-assign-staff/group-assign-staff.component.ts
  src/app/groups/groups-view/group-actions/group-attendance/group-attendance.component.html
  src/app/groups/groups-view/group-actions/group-transfer-clients/group-transfer-clients.component.html
  src/app/groups/groups-view/group-actions/group-transfer-clients/group-transfer-clients.component.ts
  src/app/groups/groups-view/group-actions/manage-group-members/manage-group-members.component.ts
  src/app/groups/groups-view/groups-view.component.html
  src/app/groups/groups-view/groups-view.component.ts
  src/app/groups/groups-view/notes-tab/notes-tab.component.ts
  src/app/groups/groups.component.html
  src/app/groups/groups.component.ts
  src/app/groups/groups.service.ts
Labels: gsoc 2020

#579 feat: add create survey component
  src/app/shared/cancel-dialog/cancel-dialog.component.html
  src/app/shared/cancel-dialog/cancel-dialog.component.scss
  src/app/shared/cancel-dialog/cancel-dialog.component.spec.ts
  src/app/shared/cancel-dialog/cancel-dialog.component.ts
  src/app/shared/material.module.ts
  src/app/shared/shared.module.ts
  src/app/system/manage-surveys/create-survey/create-survey.component.html
  src/app/system/manage-surveys/create-survey/create-survey.component.scss
  src/app/system/manage-surveys/create-survey/create-survey.component.spec.ts
  src/app/system/manage-surveys/create-survey/create-survey.component.ts
  src/app/system/manage-surveys/manage-surveys.component.html
  src/app/system/system-routing.module.ts
  src/app/system/system.module.ts
  src/app/system/system.service.ts
Labels: inactive, review requested

#1200 refactor: shares module
  src/app/clients/clients-routing.module.ts
  src/app/clients/clients-view/clients-view.component.html
  src/app/clients/clients-view/general-tab/general-tab.component.html
  src/app/notifications/notifications-page/notifications-page.component.ts
  src/app/notifications/notifications-tray/notifications-tray.component.ts
  src/app/search/search-page/search-page.component.ts
  src/app/shares/common-resolvers/share-account-actions.resolver.ts
  src/app/shares/edit-shares-account/edit-shares-account.component.ts
  src/app/shares/shares-account-actions/apply-shares/apply-shares.component.ts
  src/app/shares/shares-account-actions/approve-shares/approve-shares.component.ts
  src/app/shares/shares-account-actions/redeem-shares/redeem-shares.component.ts
  src/app/shares/shares-account-actions/reject-shares/reject-shares.component.ts
  src/app/shares/shares-account-actions/shares-account-actions.component.html
  src/app/shares/shares-account-actions/shares-account-actions.component.ts
  src/app/shares/shares-account-view/shares-account-view.component.html
  src/app/shares/shares-account-view/shares-account-view.component.ts
  src/app/shares/shares-routing.module.ts
  src/app/shares/shares.service.ts
Labels: gsoc 2020

#1201 refactor: fixed deposits module
  src/app/clients/clients-view/clients-view.component.html
  src/app/deposits/fixed-deposits/fixed-deposit-account-stepper/fixed-deposit-account-currency-step/fixed-deposit-account-currency-step.component.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-stepper/fixed-deposit-account-interest-rate-chart-step/fixed-deposit-account-interest-rate-chart-step.component.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/custom-dialogs/inactivate-charge-dialog/inactivate-charge-dialog.component.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/fixed-deposit-account-view.component.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/standing-instructions-tab/standing-instructions-tab.component.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/transactions-tab/transactions-tab.component.ts
  src/app/deposits/fixed-deposits/fixed-deposit-account-view/view-transaction/view-transaction.component.ts
  src/app/deposits/fixed-deposits/fixed-deposits-routing.module.ts
  src/app/deposits/fixed-deposits/fixed-deposits.module.ts
  src/app/deposits/fixed-deposits/fixed-deposits.service.ts
Labels: gsoc 2020

#1203 refactor: organization module
  src/app/organization/adhoc-query/adhoc-query.component.html
  src/app/organization/adhoc-query/create-adhoc-query/create-adhoc-query.component.html
  src/app/organization/adhoc-query/edit-adhoc-query/edit-adhoc-query.component.html
  src/app/organization/adhoc-query/view-adhoc-query/view-adhoc-query.component.html
  src/app/organization/bulk-import/bulk-import.component.html
  src/app/organization/bulk-import/view-bulk-import/bulk-imports.ts
  src/app/organization/bulk-import/view-bulk-import/view-bulk-import.component.html
  src/app/organization/bulk-loan-reassignmnet/bulk-loan-reassignmnet.component.html
  src/app/organization/currencies/currencies.component.html
  src/app/organization/currencies/manage-currencies/manage-currencies.component.html
  src/app/organization/employees/create-employee/create-employee.component.html
  src/app/organization/employees/edit-employee/edit-employee.component.html
  src/app/organization/employees/employees.component.html
  src/app/organization/employees/view-employee/view-employee.component.html
  src/app/organization/entity-data-table-checks/entity-data-table-checks.component.html
  src/app/organization/holidays/create-holiday/create-holiday.component.html
  src/app/organization/holidays/edit-holiday/edit-holiday.component.html
  src/app/organization/holidays/holidays.component.html
  src/app/organization/holidays/view-holidays/view-holidays.component.html
  src/app/organization/loan-provisioning-criteria/create-loan-provisioning-criteria/create-loan-provisioning-criteria.component.html
  src/app/organization/loan-provisioning-criteria/edit-loan-provisioning-criteria/edit-loan-provisioning-criteria.component.html
  src/app/organization/loan-provisioning-criteria/loan-provisioning-criteria.component.html
  src/app/organization/loan-provisioning-criteria/view-loan-provisioning-criteria/view-loan-provisioning-criteria.component.html
  src/app/organization/manage-funds/manage-funds.component.html
  src/app/organization/offices/create-office/create-office.component.html
  src/app/organization/offices/edit-office/edit-office.component.html
  src/app/organization/offices/offices.component.html
  src/app/organization/organization.component.html
  src/app/organization/password-preferences/password-preferences.component.html
  src/app/organization/payment-types/create-payment-type/create-payment-type.component.html
  src/app/organization/payment-types/edit-payment-type/edit-payment-type.component.html
  src/app/organization/payment-types/payment-types.component.html
  src/app/organization/sms-campaigns/sms-campaigns.component.html
  src/app/organization/standing-instructions-history/standing-instructions-history.component.html
  src/app/organization/tellers/cashiers/allocate-cash/allocate-cash.component.html
  src/app/organization/tellers/cashiers/cashiers.component.html
  src/app/organization/tellers/cashiers/create-cashier/create-cashier.component.html
  src/app/organization/tellers/cashiers/edit-cashier/edit-cashier.component.html
  src/app/organization/tellers/cashiers/settle-cash/settle-cash.component.html
  src/app/organization/tellers/cashiers/transactions/transactions.component.html
  src/app/organization/tellers/cashiers/view-cashier/view-cashier.component.html
  src/app/organization/tellers/create-teller/create-teller.component.html
  src/app/organization/tellers/edit-teller/edit-teller.component.html
  src/app/organization/tellers/tellers.component.html
  src/app/organization/tellers/view-teller/view-teller.component.html
  src/app/organization/working-days/working-days.component.html
Labels: gsoc 2020

#1204 feat: add individual collection sheet
  src/app/app.module.ts
  src/app/collections/collections-routing.module.ts
  src/app/collections/collections.module.ts
  src/app/collections/collections.service.spec.ts
  src/app/collections/collections.service.ts
  src/app/collections/individual-collection-sheet/get-offices.resolver.ts
  src/app/collections/individual-collection-sheet/individual-collection-sheet.component.html
  src/app/collections/individual-collection-sheet/individual-collection-sheet.component.scss
  src/app/collections/individual-collection-sheet/individual-collection-sheet.component.spec.ts
  src/app/collections/individual-collection-sheet/individual-collection-sheet.component.ts
  src/app/core/shell/sidenav/sidenav.component.html
Labels: gsoc 2020

#1207 refactor: clients module
  src/app/clients/clients-view/address-tab/address-tab.component.html
  src/app/clients/clients-view/address-tab/address-tab.component.scss
  src/app/clients/clients-view/address-tab/address-tab.component.ts
  src/app/clients/clients-view/charges/client-pay-charges/client-pay-charges.component.html
  src/app/clients/clients-view/charges/client-pay-charges/client-pay-charges.component.scss
  src/app/clients/clients-view/charges/view-charge/view-charge.component.html
  src/app/clients/clients-view/client-actions/accept-client-transfer/accept-client-transfer.component.ts
  src/app/clients/clients-view/client-actions/activate-client/activate-client.component.ts
  src/app/clients/clients-view/client-actions/client-assign-staff/client-assign-staff.component.ts
  src/app/clients/clients-view/client-actions/close-client/close-client.component.ts
  src/app/clients/clients-view/client-actions/reject-client-transfer/reject-client-transfer.component.ts
  src/app/clients/clients-view/client-actions/take-survey/take-survey.component.ts
  src/app/clients/clients-view/client-actions/undo-client-transfer/undo-client-transfer.component.ts
  src/app/clients/clients-view/client-actions/update-client-savings-account/update-client-savings-account.component.ts
  src/app/clients/clients-view/clients-view.component.html
  src/app/clients/clients-view/custom-dialogs/capture-image-dialog/capture-image-dialog.component.html
  src/app/clients/clients-view/custom-dialogs/capture-image-dialog/capture-image-dialog.component.scss
  src/app/clients/clients-view/documents-tab/documents-tab.component.html
  src/app/clients/clients-view/family-members-tab/add-family-member/add-family-member.component.html
  src/app/clients/clients-view/family-members-tab/add-family-member/add-family-member.component.ts
  src/app/clients/clients-view/family-members-tab/edit-family-member/edit-family-member.component.html
  src/app/clients/clients-view/family-members-tab/edit-family-member/edit-family-member.component.ts
  src/app/clients/clients-view/family-members-tab/family-members-tab.component.html
  src/app/clients/clients-view/family-members-tab/family-members-tab.component.ts
  src/app/clients/clients-view/general-tab/general-tab.component.html
  src/app/clients/clients-view/general-tab/general-tab.component.scss
  src/app/clients/clients-view/general-tab/general-tab.component.ts
  src/app/clients/clients-view/identities-tab/identities-tab.component.html
  src/app/clients/clients-view/identities-tab/identities-tab.component.ts
  src/app/clients/clients-view/notes-tab/notes-tab.component.html
  src/app/clients/clients-view/notes-tab/notes-tab.component.ts
  src/app/clients/clients.component.html
Labels: gsoc 2020

#1206 feat: add loan transactions tab actions
  src/app/loans/common-resolvers/loans-account-transaction-template.resolver.ts
  src/app/loans/common-resolvers/loans-account-transaction.resolver.ts
  src/app/loans/common-resolvers/loans-transaction-reciept.resolver.ts
  src/app/loans/loans-routing.module.ts
  src/app/loans/loans-view/loan-account-actions/create-guarantor/create-guarantor.component.ts
  src/app/loans/loans-view/transactions-tab/transactions-tab.component.html
  src/app/loans/loans-view/transactions-tab/transactions-tab.component.scss
  src/app/loans/loans-view/transactions-tab/transactions-tab.component.ts
  src/app/loans/loans-view/transactions/edit-transaction/edit-transaction.component.html
  src/app/loans/loans-view/transactions/edit-transaction/edit-transaction.component.scss
  src/app/loans/loans-view/transactions/edit-transaction/edit-transaction.component.spec.ts
  src/app/loans/loans-view/transactions/edit-transaction/edit-transaction.component.ts
  src/app/loans/loans-view/transactions/export-transactions/export-transactions.component.html
  src/app/loans/loans-view/transactions/export-transactions/export-transactions.component.scss
  src/app/loans/loans-view/transactions/export-transactions/export-transactions.component.spec.ts
  src/app/loans/loans-view/transactions/export-transactions/export-transactions.component.ts
  src/app/loans/loans-view/transactions/view-reciept/view-reciept.component.html
  src/app/loans/loans-view/transactions/view-reciept/view-reciept.component.scss
  src/app/loans/loans-view/transactions/view-reciept/view-reciept.component.spec.ts
  src/app/loans/loans-view/transactions/view-reciept/view-reciept.component.ts
  src/app/loans/loans-view/transactions/view-transaction/view-transaction.component.html
  src/app/loans/loans-view/transactions/view-transaction/view-transaction.component.scss
  src/app/loans/loans-view/transactions/view-transaction/view-transaction.component.spec.ts
  src/app/loans/loans-view/transactions/view-transaction/view-transaction.component.ts
  src/app/loans/loans.module.ts
  src/app/loans/loans.service.ts
Labels: gsoc 2020

#1209 feat: user profile page
  src/app/app.module.ts
  src/app/core/shell/sidenav/sidenav.component.ts
  src/app/core/shell/toolbar/toolbar.component.html
  src/app/core/shell/toolbar/toolbar.component.ts
  src/app/profile/profile-routing.module.ts
  src/app/profile/profile.component.html
  src/app/profile/profile.component.scss
  src/app/profile/profile.component.spec.ts
  src/app/profile/profile.component.ts
  src/app/profile/profile.module.ts
Labels: gsoc 2020

#1211 feat: automate frequent activities
  src/app/core/shell/sidenav/frequent-activities.ts
  src/app/core/shell/sidenav/sidenav.component.html
  src/app/core/shell/sidenav/sidenav.component.ts
  src/app/shared/icons.module.ts
Labels: gsoc 2020

#1214 feat: initialize language and date-format settings
  src/app/organization/offices/create-office/create-office.component.ts
  src/app/settings/settings.component.html
  src/app/settings/settings.component.ts
  src/app/settings/settings.service.spec.ts
  src/app/settings/settings.service.ts
  src/app/web-app.component.ts
Labels: gsoc 2020

#676 feat: view scheduler job history component
  src/app/products/products-routing.module.ts
  src/app/shared/error-dialog/error-dialog.component.html
  src/app/shared/error-dialog/error-dialog.component.scss
  src/app/shared/error-dialog/error-dialog.component.spec.ts
  src/app/shared/error-dialog/error-dialog.component.ts
  src/app/shared/shared.module.ts
  src/app/system/manage-scheduler-jobs/view-history-scheduler-job/view-history-scheduler-job.component.html
  src/app/system/manage-scheduler-jobs/view-history-scheduler-job/view-history-scheduler-job.component.scss
  src/app/system/manage-scheduler-jobs/view-history-scheduler-job/view-history-scheduler-job.component.spec.ts
  src/app/system/manage-scheduler-jobs/view-history-scheduler-job/view-history-scheduler-job.component.ts
  src/app/system/manage-scheduler-jobs/view-history-scheduler-job/view-history-scheduler-job.resolver.ts
  src/app/system/system-routing.module.ts
  src/app/system/system.module.ts
  src/app/system/system.service.ts
Labels: p3

#1225 fix: multiple bugs in home/core/institution modules
  src/app/app.module.ts
  src/app/centers/centers-routing.module.ts
  src/app/centers/centers-view/centers-view.component.html
  src/app/centers/centers-view/general-tab/general-tab.component.html
  src/app/clients/clients-view/general-tab/general-tab.component.html
  src/app/clients/clients-view/notes-tab/notes-tab.component.ts
  src/app/core/core.module.ts
  src/app/core/shell/sidenav/sidenav.component.html
  src/app/core/shell/sidenav/sidenav.component.ts
  src/app/core/shell/toolbar/toolbar.component.html
  src/app/core/shell/toolbar/toolbar.component.ts
  src/app/groups/groups-routing.module.ts
  src/app/groups/groups-view/general-tab/general-tab.component.html
  src/app/keyboards-shortcut-config.ts
  src/app/loans/loans-view/loans-view.component.html
  src/app/notifications/notifications.module.ts
  src/app/pipes/url-to-string.pipe.ts
  src/app/search/search.module.ts
  src/app/shared/icons.module.ts
  src/app/shared/notifications-tray/notifications-tray.component.html
  src/app/shared/notifications-tray/notifications-tray.component.scss
  src/app/shared/notifications-tray/notifications-tray.component.spec.ts
  src/app/shared/notifications-tray/notifications-tray.component.ts
  src/app/shared/search-tool/search-tool.component.html
  src/app/shared/search-tool/search-tool.component.scss
  src/app/shared/search-tool/search-tool.component.spec.ts
  src/app/shared/search-tool/search-tool.component.ts
  src/app/shared/shared.module.ts
  src/assets/images/center_placeholder.png
  src/assets/images/keyboard_placeholder.png
  src/assets/images/loans.png
  src/assets/images/loans_account_placeholder.png
Labels: gsoc 2020

#1226 refactor: savings module
  src/app/centers/centers-routing.module.ts
  src/app/centers/centers-view/centers-view.component.html
  src/app/centers/centers-view/general-tab/general-tab.component.html
  src/app/centers/centers-view/general-tab/general-tab.component.ts
  src/app/clients/clients-routing.module.ts
  src/app/clients/clients-view/clients-view.component.html
  src/app/clients/clients-view/general-tab/general-tab.component.html
  src/app/groups/groups-routing.module.ts
  src/app/groups/groups-view/general-tab/general-tab.component.html
  src/app/groups/groups-view/general-tab/general-tab.component.ts
  src/app/groups/groups-view/groups-view.component.html
  src/app/notifications/notifications-page/notifications-page.component.ts
  src/app/savings/common-resolvers/savings-account-actions.resolver.ts
  src/app/savings/common-resolvers/savings-account-template.resolver.ts
  src/app/savings/create-savings-account/create-savings-account.component.ts
  src/app/savings/edit-savings-account/edit-savings-account.component.ts
  src/app/savings/saving-account-actions/apply-annual-fees-savings-account/apply-annual-fees-savings-account.component.ts
  src/app/savings/saving-account-actions/close-savings-account/close-savings-account.component.ts
  src/app/savings/savings-account-stepper/savings-account-charges-step/savings-account-charges-step.component.ts
  src/app/savings/savings-account-stepper/savings-account-details-step/savings-account-details-step.component.ts
  src/app/savings/savings-account-view/charges-tab/charges-tab.component.ts
  src/app/savings/savings-account-view/savings-account-view.component.html
  src/app/savings/savings-account-view/savings-account-view.component.ts
  src/app/savings/savings-account-view/transactions-tab/transactions-tab.component.html
  src/app/savings/savings-account-view/transactions-tab/transactions-tab.component.ts
  src/app/savings/savings-account-view/view-charge/view-charge.component.ts
  src/app/savings/savings-routing.module.ts
  src/app/savings/savings.service.ts
  src/app/search/search-page/search-page.component.ts
  src/app/shared/notifications-tray/notifications-tray.component.ts
Labels: gsoc 2020

#1227 refactor: reports module
  src/app/loans/common-resolvers/loans-transaction-reciept.resolver.ts
  src/app/loans/loans-view/transactions/export-transactions/export-transactions.component.ts
  src/app/organization/sms-campaigns/sms-campaign-stepper/edit-sms-campaign-step/edit-business-rule-parameters/edit-business-rule-parameters.component.ts
  src/app/organization/sms-campaigns/sms-campaign-stepper/sms-campaign-step/business-rule-parameters/business-rule-parameters.component.ts
  src/app/pipes/url-to-string.pipe.ts
  src/app/reports/common-models/report-parameter.model.ts
  src/app/reports/common-resolvers/run-report.resolver.ts
  src/app/reports/reports-routing.module.ts
  src/app/reports/reports.component.html
  src/app/reports/reports.service.ts
  src/app/reports/run-report/chart/chart.component.ts
  src/app/reports/run-report/pentaho/pentaho.component.ts
  src/app/reports/run-report/run-report.component.html
  src/app/reports/run-report/run-report.component.ts
  src/app/reports/run-report/table-and-sms/table-and-sms.component.html
  src/app/reports/run-report/table-and-sms/table-and-sms.component.ts
  src/app/reports/xbrl/xbrl.component.ts
  src/app/savings/common-resolvers/savings-transaction-reciept.resolver.ts
  src/app/savings/savings-account-view/transactions-tab/export-transactions/export-transactions.component.ts
Labels: gsoc 2020
